[2013-03-24 09:09] Donia1 opened #58 "As a group creator I want to be able to add members to it"
@yasmin-eltahan  @sarahahmed

[2013-03-24 17:43] yasmin-eltahan opened #60 "As a system I want to be able to know the creator of the project"
@sarahahmed  @tokaabdelgabar @salmaelruby

[2013-03-24 17:45] yasmin-eltahan opened #61 "As a system i can add members to a project"
@sarahahmed @tokaabdelgabar @salmaelruby

[2013-03-24 19:22] Donia1 opened #62 "As an system (admin/member) I can be a createor of a group"
Donia's story
@samaakram @mayBadr @mariam

[2013-03-24 19:23] Donia1 opened #63 "As a system (creator) of a group I can add members"
Donia's story
@samaakram @mayBadr @mariam-ismail

[2013-03-24 19:24] Donia1 opened #64 "As a system (Admin/member) I can create a group"
May's story
@samaakram @Donia1 @mariam-ismail

[2013-03-24 19:25] Donia1 opened #65 "As a system (Admin) I can edit a group"
may's story
@samaakram  @Donia1 @mariam-ismail

[2013-03-24 19:25] Donia1 opened #66 "As a system (Admin) I can create a community"
mariam's story
@donia1 @samaakram @mayBadr

[2013-03-24 19:26] Donia1 opened #67 "As a system (Admin) I can edit a community"
Mariam's story
@samaakram @mayBadr @donia1

[2013-03-24 19:28] Donia1 opened #68 "As a system (Admin) I can dismiss a cmmunity"
sama's story
@mayBadr @mariam-ismail @donia1

[2013-03-24 19:28] Donia1 opened #69 "As a system (group creator) I can delete a group"
sama's story
@mariam-ismail @mayBadr @donia1

[2013-03-24 19:34] tokaabdelgabar opened #70 "As a system I want to be able to get posts"
@yasmin-eltahan @sarahahmed @nayera-muhammad

[2013-03-24 19:35] Donia1 opened #71 "as a system I should know who is not in this project"
donia's story
@samaakram @mayBadr @mariam-ismail

[2013-03-24 19:35] tokaabdelgabar opened #72 "As a stystem I want to be able to get tasks of a project"
@yasmin-eltahan @sarahahmed @nayera-muhammad

[2013-03-24 19:36] tokaabdelgabar opened #73 "As a system I want to get user Id"
@yasmin-eltahan @sarahahmed @nayera-muhammad

[2013-03-24 23:02] sarahahmed opened #75 "As a system, i can get all projects"
@yasmin-eltahan
@tokaabdelgabar
@Riham-Gamal

[2013-03-24 23:04] sarahahmed opened #76 "As a system, i can edit a certain project"
@yasmin-eltahan
@tokaabdelgabar
@Riham-Gamal

[2013-03-25 09:45] Riham-Gamal opened #77 "As a system I can edit a Comment"
@salmaelruby @nayera-muhammad @mariam-ismail

[2013-03-25 09:47] Riham-Gamal opened #78 "As a system I can edit a post"
@salmaelruby  @nayera-muhammad @mariam-ismail

[2013-03-25 11:48] nayera-muhammad opened #80 "as a system I should recognize if this is a creator or not"
@Riham-Gamal  @salmaelruby

[2013-03-25 11:49] nayera-muhammad opened #81 "As a system I can get project members"
@Riham-Gamal  @salmaelruby

[2013-03-25 11:50] nayera-muhammad opened #82 "As a sytsem I can create project"
@Riham-Gamal  @salmaelruby

[2013-03-25 13:14] salmaelruby opened #83 "as a system i can delete a post"
@Riham-Gamal  @nayera-muhammad

[2013-03-25 13:15] salmaelruby opened #84 "as a system i can delete a comment"
@Riham-Gamal  @nayera-muhammad

[2013-03-25 13:15] salmaelruby opened #85 "as a system i can check if the user is a creator of a post"
@Riham-Gamal  @nayera-muhammad

[2013-03-27 19:12] Donia1 commented on #62
its on the branch c1_donia_isCreator

[2013-03-27 19:16] Donia1 opened #89 "as a system I should know who is in which group"
@samaakram @mariam-ismail @mayBadr

[2013-03-27 19:20] Donia1 commented on #89
c1_donia_groupMembers

[2013-03-27 19:27] Donia1 commented on #63
c1_donia_addMembers

[2013-03-27 19:38] Donia1 commented on #71
c1_donia_memberNotInProject

[2013-03-27 19:42] Donia1 opened #92 "as a system I should know who is not in this group"
@mayBadr @mariam-ismail @samaakram

[2013-03-27 19:57] Donia1 commented on #68
@samaakram

[2013-03-27 19:58] Donia1 commented on #64
@mayBadr

[2013-03-28 11:53] nayera-muhammad commented on #82
@samaakram

[2013-03-28 15:27] nayera-muhammad commented on #81
@samaakram

[2013-03-28 15:27] nayera-muhammad commented on #80
@samaakram

[2013-03-28 15:36] nayera-muhammad commented on #70
please reconsider the explanation for the method get_tasks

[2013-03-28 15:40] Riham-Gamal opened #108 "As a system I can create a post"
@salmaelruby @nayera-muhammad @mariam-ismail

[2013-03-28 15:41] Riham-Gamal opened #109 "As a system I can create a comment"
@salmaelruby @nayera-muhammad @mariam-ismail

[2013-03-28 16:28] Donia1 commented on #69
@tokaabdelgabar

[2013-03-28 16:29] Donia1 commented on #64
@tokaabdelgabar

[2013-03-28 16:53] nayera-muhammad commented on #70
sorry this is ok

[2013-03-28 16:53] nayera-muhammad commented on #72
please reconsider the explanation for the method get_tasks

[2013-03-28 17:03] sarahahmed commented on #72
please put the method in the helper
 and check names of the Models

[2013-03-28 17:06] sarahahmed commented on #70
put the method in the helper
Helpers' dont take type of the input
remove "@" from the variable name

[2013-03-28 17:12] Donia1 commented on #67
![432](https://f.cloud.github.com/assets/3504516/314415/5d3cee68-97ca-11e2-8768-9ce9264036a7.png)
Mariam first u have to put the user figure on top of the first line instead of the ui community and i think u have an if statment see the image that i attached how he draw it

[2013-03-28 19:14] yasmin-eltahan commented on #72
for the UML you can't have a controller without the view also your methods are supposed to be in the helper so it needs to be reflected on the UML

[2013-03-28 19:15] yasmin-eltahan commented on #70
amed the UMl with the same concept of the other task

[2013-03-28 19:19] Donia1 commented on #92
@yasmin-eltahan

[2013-03-28 19:20] Donia1 commented on #89
@yasmin-eltahan

[2013-03-28 19:20] Donia1 commented on #71
@yasmin-eltahan

[2013-03-28 19:20] Donia1 commented on #63
@yasmin-eltahan

[2013-03-28 19:21] Donia1 commented on #62
@yasmin-eltahan

[2013-03-28 20:21] mariam-ismail opened #114 "As an Admin I can create community(new)"
c2_mariam_create_edit_communtiy_last
Success:
the "create community" button only appears to the admin --> he will add required fields community name, description(optional),groups(optional),creators when you press submit it redirect to the community page

Failure:
admin leaves required fields empty or the community already exists on the DB

Tasks:
1. Research on validations
2. Documentation
4. Impl

[2013-03-28 20:22] mariam-ismail opened #115 "As an Admin I can edit a community(new)"
c2_mariam_create_edit_communtiy_last
Success:
he edited  his work only, redirect it to the same page after editing, after you finish editing you get an alert are you sure of your changes

Failure:
edited something that he didn't create, deleted a required field

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap

[2013-03-28 20:30] mariam-ismail commented on #115
@Donia1 @mayBadr @samaakram @sarahahmed

[2013-03-28 20:35] Riham-Gamal commented on #82
you did not put the routes

[2013-03-28 21:08] yasmin-eltahan commented on #63
switch the arrows of the user helper and model and the result of the method is taken back to the helper not to another model

[2013-03-28 21:10] yasmin-eltahan commented on #71
the result of the method is taken back to the helper not to another model

[2013-03-28 21:11] yasmin-eltahan commented on #92
the result of the method is taken back to the helper not to another model

[2013-03-28 21:13] yasmin-eltahan commented on #62
i don't think that we should be taking the user id from the user

[2013-03-28 21:24] yasmin-eltahan commented on #71
the model name is wrong it is project users not project

[2013-03-28 21:51] nayera-muhammad commented on #77
you should write Author : Riham Gamal 22-....... before ur documentation

[2013-03-28 21:51] nayera-muhammad commented on #78
you should write Author : Riham Gamal 22-....... before ur documentation

[2013-03-28 21:51] nayera-muhammad commented on #108
you should write Author : Riham Gamal 22-....... before ur documentation

[2013-03-28 21:51] nayera-muhammad commented on #109
you should write Author : Riham Gamal 22-....... before ur documentation

[2013-03-29 00:14] nayera-muhammad commented on #83
the documentation is clear but u should add Author : Salma elruby 22-.... before the explanation

[2013-03-29 00:15] nayera-muhammad commented on #84
u didnt write the explanation u wrote the user story and u should write Author : Salma elruby 22-.... before the explanation

[2013-03-29 00:17] nayera-muhammad commented on #83
sry u wrote the user story not the explanation and u should add Author : Salma elruby 22-.... before the explanation

[2013-03-29 00:18] nayera-muhammad commented on #85
the documentation is clear but u should add Author : Salma elruby 22-.... before the explanation

[2013-03-29 00:21] nayera-muhammad commented on #70
u should add ( Author : Toka abdelgabar  22-.... ) before the explanation

[2013-03-29 00:21] nayera-muhammad commented on #72
u should add ( Author : Toka abdelgabar 22-.... ) before the explanation

[2013-03-29 11:35] sarahahmed commented on #76
toka i updated my documentation

[2013-03-29 11:35] sarahahmed commented on #75
toka i updated my documentation

[2013-03-29 12:57] tokaabdelgabar commented on #72
@nayera-muhammad  please check the documentation

[2013-03-29 13:22] #73 closed, assigned to nobody

[2013-03-29 18:11] #71 closed, assigned to nobody

[2013-03-29 18:16] #77 closed, assigned to nobody

[2013-03-29 18:17] #78 closed, assigned to nobody

[2013-03-29 18:18] #63 closed, assigned to nobody

[2013-03-29 18:19] #89 closed, assigned to nobody

[2013-03-29 18:22] #62 closed, assigned to nobody

[2013-03-29 18:23] #58 closed, assigned to yousraHazem

[2013-03-29 18:24] #108 closed, assigned to nobody

[2013-03-29 18:24] #109 closed, assigned to nobody

[2013-03-29 19:01] #82 closed, assigned to nobody

[2013-03-29 19:22] #81 closed, assigned to nobody

[2013-03-29 19:22] #80 closed, assigned to nobody

[2013-03-29 22:16] #64 closed, assigned to nobody

[2013-03-29 22:16] #68 closed, assigned to nobody

[2013-03-29 22:20] #66 closed, assigned to nobody

[2013-03-29 22:20] #67 closed, assigned to nobody

[2013-03-31 13:30] sarahahmed opened #133 "Table Updates"
@mayBadr
i added "budget_item_id", "Quantity purchased" columns in "BudgetComponents" table
i changed "Quantity" column to "Total Quantity" in "BudgetComponents" table

[2013-03-31 13:55] sarahahmed commented on #133
i also added "total" column in "Budget Items" table

[2013-03-31 14:21] salmaelruby opened #134 "class diagram additional parameters"
@mayBadr
in table "posts" method : delete() -->delete(post_id)
in table "comments " method : delete() --> delete(comment_id)
bas keda w shokran :D

[2013-03-31 15:15] Riham-Gamal opened #135 "Riham class diagram"
@mayBadr

Posts:
createPost(id, content)
updatePost(id, content)

Comments:
createComment(id, content)
updateComment(id, content)

[2013-03-31 15:23] Donia1 opened #136 "Methods"
Project
getMembersNotInProject (project_id)

Group
getMembersNotInGroup (group_id)

getGroupMembers(group_id)

Group Users
addMembers (group_id, user_id)

isGroupCreator(group_id,user_id)
@mayBadr

[2013-03-31 15:31] nayera-muhammad opened #137 "my class diagrams"
@mayBadr

[2013-03-31 15:31] nayera-muhammad commented on #137
controller:
new Project
listProjects
createProject

helpers:
isCommentCreator(current_user)
getProjectMembers(project_id)

[2013-03-31 16:02] samaakram opened #138 "Class diagram"
@mayBadr
In groups model:
GetChildGroup(group_id)

[2013-03-31 16:32] yasmin-eltahan opened #139 "project_users rich join"
@mayBadr  table project_users having attributes of project_id , user_id , is_creator

methods: iscreator (user_id , project_id)  , addMember(project_id, user_id,creator) , get_projectmembers(project_id)

[2013-03-31 17:04] sarahahmed commented on #133
i also added "spent" column in "Budget Items" tabl

[2013-04-01 12:46] tokaabdelgabar opened #140 "As a Guest i can view the operational budget items"
Success
When a guest wants to view the budget only the operational budget items appear to them

@yasmin-eltahan  @sarahahmed @Riham-Gamal @salmaelruby

[2013-04-01 13:08] sarahahmed opened #141 "As a project admin, i can create and edit budget item components"
@yasmin-eltahan
@tokaabdelgabar
@nayera-muhammad

[2013-04-01 13:09] sarahahmed opened #142 "As a guest , i can view budget details"

[2013-04-01 13:10] sarahahmed opened #143 "As a project admin , i can connect a budget item to a task"
@yasmin-eltahan @nayera-muhammad
@tokaabdelgabar

[2013-04-01 13:19] salmaelruby opened #144 "As a creator of a project I can delete a task on my project"
Success:
Through the task list page, the creator can click a button to delete a task, the he confirms the delete and clicks "ok".  The task should be deleted after confirmation
Tasks:
1. code
2. Documentation
3. UML
4. tests
5. CSS & Bootstrap

[2013-04-01 13:23] salmaelruby opened #145 "As a creator of a project I can edit a task on my project"
Success:
by clicking on an edit button the creator is directed to another page where he can make the required changes and submit the new information.
@Riham-Gamal  @mariam-ismail  @Donia1
Failure:
after editing the task description it was found that the task name already exists.

Tasks:
1. oode
2. Documentation
3. UML
4. test
5. Bootstrap

[2013-04-01 13:29] salmaelruby opened #146 "As a project creator I can assign tasks to a member on my project"
Success :
by clicking assign task : list of members appears then the creator choose member(s) and submit

@mariam-ismail   @Riham-Gamal @Donia1

Tasks:
1. code
2. Documentation
3. UML
4. test
5.  Bootstrap

[2013-04-01 16:22] tokaabdelgabar opened #148 "As a project admin i can assign members to budget items"
sucess
when assigning a member to a budget item a drop downlist appears that he chooses from

@yasmin-eltahan @sarahahmed @Riham-Gamal @salmaelruby

[2013-04-01 16:48] yasmin-eltahan opened #149 "budget altering"
@mayBadr the class budget is removed
add a cloumn assigned  boolean in task
column spent in budget item and budget item component
project_id foreign key in budget item

[2013-04-01 16:55] yasmin-eltahan opened #150 "As a project admin I can create/edit a budget item"
success:
the user entering is a project admin,he will fill the budget item name, member associated with it, components of this budget item and click  finish

failures:
if the budget item is entered twice, an alert appears

Tasks:
1. code
2. Documentation
3. UML
4. test
5. CSS & Bootstrap

@sarahahmed  @tokaabdelgabar @salmaelruby  @Riham-Gamal

[2013-04-01 17:02] yasmin-eltahan opened #151 "As an admin of a project I can create/edit the raised money for a budget of a project"
success:

the username entered is a project member , specify raised money and click save

failure:
enter an invalid number alert appears
enter a raised budget for a project that doesn't exist alert appears

Tasks:
1. code
2. Documentation
3. UML
4. test
5. CSS & Bootstrap

@sarahahmed  @tokaabdelgabar  @Riham-Gamal  @salmaelruby

[2013-04-01 17:05] yasmin-eltahan opened #152 "As a member associated with budget item I can add attachments of receipts"
success:
The receipt is scanned and entered in the system

Tasks:
1. code
2. Documentation
3. UML
4. test
5. CSS & Bootstrap

@sarahahmed  @salmaelruby @tokaabdelgabar @Riham-Gamal

[2013-04-01 17:29] tokaabdelgabar opened #153 "As a user of a project I can view this project selected from project list"
@yasmin-eltahan @sarahahmed @nayera-muhammad

[2013-04-01 17:30] tokaabdelgabar opened #154 "As a user of the project I can view My projects list"
@yasmin-eltahan @sarahahmed @Riham-Gamal @salmaelruby

[2013-04-01 17:46] Donia1 opened #155 "as a user i can sign up in MME7"
success:
add all the information needed to create an account, the username is unique and password encrypted and all the information need is in (first name, last name, email, phone number, username, password, address
failure:
forgot to add a detail, already a member, username already exists
TASKS:
rspec test
the view
encryption gem for the password
documentation of methods
story sequence diagram

@

[2013-04-01 17:49] Donia1 opened #156 "as a member i can log in with my account name of MME7"
success:
redirect to your page, and the user entered the right username and password
failure:
wrong username, password. left the field empty forgot password
TASKS:
make all the methods that realated to him work
check that who is actually logging in is a user
rspec
documentation of methods
story sequence diagram

@mayBadr @samaakram @mariam-ismail @yasmin-eltahan

[2013-04-01 17:51] samaakram opened #157 "As an admin/member I can create a group"
c2_sama_test_create_delete_group

23
@mayBadr @salmaelruby  @mariam-ismail @tokaabdelgabar @Riham-Gamal

Success:
the "create group" button only appears to the logged in members -->

create group page is open required fields to fill group name, description, creators, type of group and if want to fill the other fields members. afterwards you press submit and a popup will come thats says are you sur

[2013-04-01 17:51] mayBadr opened #158 "As a guest I can view groups"
Success: Click on "groups" button, view list with all group links, go to the group page
Failure: The page won't open.
@Donia1  @samaakram  @mariam-ismail  @yasmin-eltahan

Task:
1. Documentation @samaakram
2. UML @Donia1
3. CSS & Bootstrap

[2013-04-01 17:52] Donia1 opened #159 "as a member i can log out"
success:
you press the button it redirects to the home page and everything looks as if he is a guest
failure:
have to check that nothing is open and everything he did is saved
TASKS:
revers log in
documentation of methods
story sequence diagram

@mayBadr @yasmin-eltahan @mariam-ismail @samaakram

[2013-04-01 17:55] samaakram opened #160 "As a member/groupCreator i can delete a group"
c2_sama_test_create_delete_group
@mayBadr @salmaelruby  @mariam-ismail @tokaabdelgabar @Riham-Gamal

success:
show delete group button only if user is the group creator, press delete group button on the group show page, user gets a pop-up alert "are you sure you want to delete this group" if yes redirect to groups list (view all groups), if no render  same group show page

Tasks:
1. Research on va

[2013-04-01 17:56] samaakram opened #161 "As a commentCreator I can delete my comment"
@mayBadr @Donia1 @tokaabdelgabar @mariam-ismail
@Riham-Gamal

[2013-04-01 17:58] mayBadr opened #162 "As a guest I can view communities"
Success: Click on "community" button, view list with all communities links, go to the community page
Failure: The page won't open.
@Donia1 @nayera-muhammad  @yasmin-eltahan

Task:
1. Documentation @Donia1
2. UML @Donia1
3. CSS & Bootstrap

[2013-04-01 17:58] samaakram opened #163 "As a groupmember i can leave a group"
c2_sama_leave_group

@mayBadr @Donia1 @mariam-ismail @tokaabdelgabar

Tasks:
1. Research on validations
2. Documentation @tokaabdelgabar
3. UML @Donia1
4. Implementing the function logic @mayBadr
5. Handling input errors
6. CSS & Bootstrap

[2013-04-01 18:37] mayBadr opened #164 "As an admin I can delete a community"
@Donia1   @nayera-muhammad  @yasmin-eltahan
Success: press on delete button, get an alert "are you sure you want to delete" and choose yes or no, if yes redirect to the same page after deleting, if no redirects to the same page without deleting
Failure: redirect to the same page without deleting the community

Task:
1. Documentation @Donia1
2. UML @Donia1
3. CSS & Bootstrap

[2013-04-01 18:48] mayBadr opened #165 "As a member I can edit a group"
@Donia1
Success: press edit button, redirect to editing page, the member edits his work only and after finishing editing member gets an alert "are you sure of your changes" if yes redirect to the same page after editing, if no redirect to editing page again to correct or press go back link to go back to the groups page
Failure: edited something that the member didn't create, not his/her

Tasks:
1.

[2013-04-01 18:55] mayBadr opened #166 "As a group creator I can add members in a group"
@Donia1 @samaakram @mariam-ismail @yasmin-eltahan
Success: first get the list of member who aren't in the current group ,then start choosing and adding members  from the list, and when you press on the Add button records will be created for them in the tables and let them have access to this group
Failure: adding a member to the group who already exists in the group (duplicates)

Tasks:
1. Documen

[2013-04-03 10:37] yasmin-eltahan opened #167 "add class receipts"
@mayBadr  i added a class receipts having attributes: name :string , image :string  , budget_component_id :integer

methods: create , get receipts of budget component (budget_component)

[2013-04-04 22:36] mariam-ismail opened #172 "As a creator of a post I can edit it"
success:
he edited  his work only, redirect it to the same page after editing, after you finish editing you get an alert are you sure of your changes
Failure:
edited something that he didn't create,

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap
@mayBadr @Donia1 @samaakram @sarahahmed

[2013-04-04 22:37] mariam-ismail opened #173 "As a creator of a post I can delete it"
Success:
he deleted  his work only, redirect it to the same page after deleting, after you finish deleting you get an alert are you sure of your changes
Failure:
deleted something that he didn't create,

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap

@samaakram @mayBadr @Donia1

[2013-04-04 22:38] mariam-ismail opened #174 "As a member of the group I can create post"
success:
a post is successfully created
failure:
he's not member in either the project or the group therefore he can't create a post

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap
@samaakram @Donia1 @mayBadr

[2013-04-04 22:39] mariam-ismail opened #175 "As a member I can join a group"
Success:
a button is there  when you press on it we will add a record for him in the table and give access to the group
Failure:
we have to check if he is logged in and if not we redirect him to the signed up page

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap
@samaakram  @salmaelruby @Riham-Gamal @sarahahmed

[2013-04-05 19:40] mayBadr opened #176 "Class Diagram"
@Donia1 @samaakram @mariam-ismail @Riham-Gamal @nayera-muhammad @salmaelruby @tokaabdelgabar @yasmin-eltahan @sarahahmed

[2013-04-06 19:11] nayera-muhammad opened #177 "As an admin I can create a project"
branch name: c2_nayera_as_a_creator_edit_project
product backlog number:  32
success:
view a list of the tasks available for a certain project
failure:
no task selected

Tasks:
1. code @Riham-Gamal
2. Documentation @salmaelruby
3. UML  @salmaelruby
4. test @mariam-ismail
5. Bootstrap

[2013-04-06 19:12] nayera-muhammad opened #178 "As a creator of a project I can view tasks of a project"
branch name : c2_nayera_as_a_creator_view_project_tasks
product backlog number:  35
success:
view a list of the tasks available for a certain project
failure:
no task selected

 Tasks:
1. code @Riham-Gamal
2. Documentation @salmaelruby
3. UML @salmaelruby
4. test @mariam-ismail
5. Bootstrap

[2013-04-06 19:13] nayera-muhammad opened #179 "As a project creator I can edit project"
branch name: c2_nayera_as_a_creator_edit_project
product backlog number:  40
success:
I can edit project name, date and description
failure:
see if the dates and the name are valid after their modification

Tasks:
1. code  @Riham-Gamal
2. Documentation @salmaelruby
3. UML @salmaelruby
4. test @mariam-ismail
5. Bootstrap

[2013-04-07 15:58] mayBadr opened #180 "add attribute to community DB"
add an attribute called is_dismissed boolean in community table
@yasmin-eltahan

[2013-04-08 09:39] Donia1 opened #183 "Database owner"
@mayBadr @Riham-Gamal @tokaabdelgabar @samaakram @sarahahmed @salmaelruby @mariam-ismail @nayera-muhammad @donia1

[2013-04-08 09:50] #153 closed, assigned to nobody

[2013-04-08 09:52] tokaabdelgabar opened #184 "As a User I can view all budget items"
@yasmin-eltahan @sarahahmed @Riham-Gamal @salmaelruby

[2013-04-08 15:47] mariam-ismail opened #188 "As a user I can view all posts of a group"
@mayBadr @Donia1 @samaakram

[2013-04-08 18:22] nayera-muhammad opened #189 "tests for isCommentCreator and getProjectMembers"
@Riham-Gamal   @salmaelruby @mariam-ismail
branch name: c2_nayera_comment_projectuser_tests

Tasks:
1. code @Riham-Gamal
2. Documentation @salmaelruby
3. UML  @salmaelruby
4. test @mariam-ismail

[2013-04-10 17:50] Donia1 opened #195 "as a member i can view my groups"
@mariam-ismail @mayBadr @samaakram @yasmin-eltahan

[2013-04-12 00:52] yasmin-eltahan commented on #156
I have checked the UML and verified it

[2013-04-12 00:52] yasmin-eltahan commented on #159
I have checked the UML and verified it

[2013-04-12 00:54] yasmin-eltahan commented on #155
I have checked the UML and verified it

[2013-04-12 00:56] yasmin-eltahan commented on #195
I have checked the UML and verified it

[2013-04-12 08:49] salmaelruby opened #200 "As a creator of a project I can create a task on my project"
Success :
the admin is redirected to a page where he adds the description of the new task

Failure:
a message appears if the description of the task already exits
a message appears if he clicks submit without inserting the description

Tasks:
1. code
2. Documentation
3. UML
4. test
5. Bootstrap

[2013-04-12 09:26] samaakram commented on #155
@Donia1
Doc Review:
in admin controller, wrong documentation/description of def new, this method does not redirect to any other page as stated and also doesnt take any params
in app controller change the descriptions to something like it takes first id and finds it in users to be more clear

[2013-04-12 09:35] samaakram commented on #155
@Donia1
Code Review:
in user controller: wrong indentation with def show. so u should unindent def show line
in admin helper, session helper, user helper: indentation problems with def's ends. make sure they have same indentation as their opening defs
in views/admin/index.html.erb: indentation problem. line 9, 24, 26 should have same indentation
and you have to closing divs without their opening s

[2013-04-12 09:38] samaakram commented on #156
@Donia1
Doc Review:
in admin controller, wrong documentation/description of def new, this method does not redirect to any other page as stated and also doesnt take any params
in app controller change the descriptions to something like it takes first id and finds it in users to be more clear

[2013-04-12 09:39] samaakram commented on #156
@Donia1
Code Review:
in user controller: wrong indentation with def show. so u should unindent def show line
in admin helper, session helper, user helper: indentation problems with def's ends. make sure they have same indentation as their opening defs
in views/admin/index.html.erb: indentation problem. line 9, 24, 26 should have same indentation
and you have to closing divs without their opening s

[2013-04-12 09:43] samaakram commented on #159
@Donia1
Code Review:
in user controller: wrong indentation with def show. so u should unindent def show line
in admin helper, session helper, user helper: indentation problems with def's ends. make sure they have same indentation as their opening defs
in views/admin/index.html.erb: indentation problem. line 9, 24, 26 should have same indentation
and you have to closing divs without their opening s

[2013-04-12 09:43] samaakram commented on #159
@Donia1
Doc Review:
in admin controller, wrong documentation/description of def new, this method does not redirect to any other page as stated and also doesnt take any params
in app controller change the descriptions to something like it takes first id and finds it in users to be more clear

[2013-04-12 10:12] tokaabdelgabar commented on #154
@sarahahmed please review my tests (they run)
@yasmin-eltahan please review my UMLs and the user senario
@Riham-Gamal please review my code
@salmaelruby please review my documentation

[2013-04-12 10:25] mayBadr commented on #155
@Donia1
scenario review:
1. ur Arabic sux...correct it!!
2. remove time stamp
3. as an admin....add a logout link!!
4. in signUp page ....error msg is in english and arabic!!
   5.name not allowed to be  number !!

[2013-04-12 11:24] Donia1 commented on #156
did changes please check again

[2013-04-12 11:26] Donia1 commented on #146
first you need to put a dotted line under the the stick figure and start from the top and do the time cycle part

[2013-04-12 11:33] Donia1 commented on #200
same as before the dotted line user the user

[2013-04-12 11:51] sarahahmed commented on #154
modify  variable names

[2013-04-12 12:09] Riham-Gamal opened #202 "As an admin I can add and remove members from the project"
@salmaelruby @nayera-muhammad  @mayBadr  @samaakram

Success :
members are added successfully
the admin is redirected to a project page where he finishes creating the project

Failure:
members are not  added successfully
the admin is not redirected to the project page

Tasks:
1. code
2. Documentation
3. UML
4. test
5. Bootstrap

[2013-04-12 12:12] Riham-Gamal opened #203 "As a user I can view my project page"
@salmaelruby @mayBadr @samaakram  @nayera-muhammad

Success :
the user view his project page

Tasks:
1. code
2. Documentation
3. UML
4. test
5. Bootstrap

[2013-04-12 12:21] salmaelruby commented on #152
@yasmin-eltahan  i checked the uml for this story  they are correct except for that u should add a dotted line under the actor and it should have a vertical perpendicular line coming out of it .
and the two lines coming from the opt should join back touching this vertical line

[2013-04-12 12:30] salmaelruby commented on #151
@yasmin-eltahan  same simple mistake and add the white processing box and write the name of the actor such as (project admin , a member in a project..etc)

[2013-04-12 12:47] mayBadr commented on #155
checked scenario!! verified!

[2013-04-12 12:54] yasmin-eltahan commented on #184
add a dashed line from the actor and specify who is this actor

[2013-04-12 13:09] salmaelruby commented on #154
viewed the documentation its correct :D

[2013-04-12 13:18] mariam-ismail commented on #155
session controller rspec rename description of logout and create lines 33 and 20

[2013-04-12 13:19] mariam-ismail commented on #155
bundle exec rspec spec/ is not running

[2013-04-12 13:20] mariam-ismail commented on #155
uninitialized constant CarrierWave when running the test please check it out

[2013-04-12 13:25] mariam-ismail commented on #155
you have 0 failures but you have pending examples

[2013-04-12 13:35] sarahahmed commented on #154
test is correct

[2013-04-12 14:14] sarahahmed opened #204 "as a guest i can view budget sources"
@tokaabdelgabar
@yasmin-eltahan
@nayera-muhammad

[2013-04-12 15:02] salmaelruby commented on #177
documentation review @nayera-muhammad
 in project controller
- in def create project "this method takes its' input from the params" u should specify which params ?
- in def edit project "@project_count = Project.count"  you didnt desribe what does this do
- in def update project this sentence needs to be paraphrased its not clear ==> " takes the updated attributes in order to change them"

[2013-04-12 15:18] salmaelruby commented on #189
UML review : add the user in the same level and dotted line under it
 add the models and the UI
return the output

[2013-04-12 15:21] salmaelruby commented on #177
UML review : please add the models and views needed and the correct returned output :)

[2013-04-12 15:22] salmaelruby commented on #203
i have viewed the documentation

[2013-04-12 15:50] salmaelruby commented on #151
@yasmin-eltahan
UML reviewing , it needs in the edit to return the new attributes

[2013-04-12 16:21] mayBadr commented on #203
scenario Ok!

[2013-04-12 16:32] yasmin-eltahan commented on #204
I verified the UML

[2013-04-12 16:32] yasmin-eltahan commented on #204
I verified the senario

[2013-04-12 17:17] samaakram opened #207 "As a commentCreator member I can edit my comment"
@Riham-Gamal @Donia1 @mariam-ismail @tokaabdelgabar

[2013-04-12 17:19] samaakram opened #208 "As a groupmember I can create a comment on a groupPost"
@Riham-Gamal @Donia1 @mayBadr @mariam-ismail @tokaabdelgabar

[2013-04-12 17:21] samaakram opened #209 "As a guest i can view the comments of each post on each group"

[2013-04-12 17:21] samaakram commented on #209
@mayBadr @mariam-ismail @Donia1 @tokaabdelgabar

[2013-04-12 17:22] yasmin-eltahan commented on #143
i verifed Uml

[2013-04-12 17:23] yasmin-eltahan commented on #143
I verified senario

[2013-04-12 17:24] yasmin-eltahan commented on #141
I verified UML

[2013-04-12 17:25] yasmin-eltahan commented on #141
I verified senario

[2013-04-12 17:27] mayBadr commented on #163
scenario ok!!

[2013-04-12 17:28] mayBadr commented on #161
scenario check!

[2013-04-12 17:29] mayBadr commented on #160
scenario check!

[2013-04-12 17:30] mayBadr commented on #157
scen check!

[2013-04-12 17:31] mayBadr commented on #207
scen ok

[2013-04-12 17:32] mayBadr commented on #208
scen ok

[2013-04-12 17:33] mayBadr commented on #209
scen ok

[2013-04-12 17:53] mayBadr commented on #174
ok!

[2013-04-12 17:53] mayBadr commented on #175
ok

[2013-04-12 17:54] mayBadr commented on #172
ok

[2013-04-12 17:57] mayBadr commented on #173
ok!!

[2013-04-12 18:09] mayBadr commented on #114
ok

[2013-04-12 18:09] mayBadr commented on #115
ok

[2013-04-12 22:57] yasmin-eltahan commented on #166
i verified this senario

[2013-04-12 22:58] yasmin-eltahan commented on #165
i verified this senario

[2013-04-12 23:01] yasmin-eltahan commented on #164
i verified this senario

[2013-04-14 20:40] yasmin-eltahan opened #223 "Gems and tables"
@sarahahmed @samaakram @Donia1 @mayBadr @salmaelruby @mariam-ismail @Riham-Gamal @tokaabdelgabar @nayera-muhammad

[2013-04-15 07:58] sarahahmed commented on #141
@nayera-muhammad i updated the tests, please review me

[2013-04-15 11:06] Donia1 opened #226 "as a member i can sign in with my facebook account"
success:
successful connection to FB server, redirection to the page
Failure:
he entered the email/password wrong or FB is not connected to our system
Tasks:
go to facebook develpor and create an app on it for the website
code and docmentation
sequence diagram
rspec
omniauth-facebook
Facebook Client-Side Authentication
Facebook Server-Side Authentication
@mayBadr @yasmin-eltahan @mariam-ismail @sa

[2013-04-15 11:17] Donia1 commented on #159
@yasmin-eltahan  i have updated the uml for logout

[2013-04-15 11:28] Donia1 commented on #155
@yasmin-eltahan i have redid my uml for signup

[2013-04-15 11:32] Donia1 commented on #156
@yasmin-eltahan  i undated my uml

[2013-04-15 11:37] #148 closed, assigned to nobody

[2013-04-15 11:37] Donia1 commented on #195
@yasmin-eltahan undated the umls

[2013-04-15 12:48] mariam-ismail opened #227 "create/edit community UML's for sprint1"
@Donia1

[2013-04-15 13:03] Donia1 commented on #223
could u please add
gem "bcrypt-ruby", :require => "bcrypt"
gem 'simplecov'
 gem 'annotate', '2.5.0'
 gem 'factory_girl_rails', '4.1.0'

[2013-04-15 13:29] mariam-ismail commented on #114
@Donia1 @samaakram @sarahahmed @mayBadr

[2013-04-15 13:37] mariam-ismail commented on #227
@Donia1  please check mu UMLS

[2013-04-15 13:46] #227 closed, assigned to mariam-ismail

[2013-04-15 13:51] mariam-ismail commented on #114
@Donia1 please check my UMLS

[2013-04-15 13:54] mariam-ismail commented on #115
@sarahahmed please check my tests

[2013-04-15 13:54] mariam-ismail commented on #114
@sarahahmed please check my tests

[2013-04-15 14:00] nayera-muhammad commented on #204
@sarahahmed  have u included the tests for this story? , if yes please let me know

[2013-04-15 14:01] tokaabdelgabar commented on #184
@yasmin-eltahan  please review my senario

@Riham-Gamal please review my code

[2013-04-15 14:03] tokaabdelgabar commented on #140
@yasmin-eltahan please review my senario
@sarahahmed  please review my tests
@Riham-Gamal please review my code
@salmaelruby please review my documentation

[2013-04-15 14:06] nayera-muhammad commented on #202
@Riham-Gamal if u have added the tests please notify me and mention the branch name in oreder to review u

[2013-04-15 14:07] nayera-muhammad commented on #200
@salmaelruby if u have added the tests please notify me and mention the branch name in oreder to review u

[2013-04-15 14:08] tokaabdelgabar commented on #140
@sarahahmed please review my tests (they run)
@yasmin-eltahan the senario
@Riham-Gamal please review my code
@salmaelruby please review my documentation

[2013-04-15 14:09] tokaabdelgabar commented on #154
@sarahahmed please review my tests (they run)
@yasmin-eltahan please review the  senario
@Riham-Gamal please review my code
@salmaelruby please review my documentation

[2013-04-15 14:16] nayera-muhammad commented on #203
please ask if this story will be reopened or not because its already merged

[2013-04-15 14:18] nayera-muhammad commented on #141
and mention the branch name

[2013-04-15 17:33] nayera-muhammad commented on #141
@sarahahmed i pulled c3_sarah_sprint0 , ur having a lot of failures in the budget controller and budget sources controller tests and the budget controller model and please write tests for views

[2013-04-15 17:46] mariam-ismail commented on #114
@samaakram  please review my documentation and code

[2013-04-15 17:46] mariam-ismail commented on #115
@samaakram  please review my code and documentation

[2013-04-15 19:23] samaakram commented on #188
@mariam-ismail can plz also comment your branch name
w dont forget the assigned to and change the milestone to milestone 2 cuz these are reopened issues in sprint 2 :)

[2013-04-15 19:25] samaakram commented on #202
@Riham-Gamal can you tell me what should i review? code or documentation?? and add a comment with your branch name

[2013-04-15 19:31] Donia1 commented on #114
mariam let the arrows be inside the opt box not outside

[2013-04-15 20:52] nayera-muhammad commented on #203
@Riham-Gamal i couldnt find ur tests on master please specify me the files

[2013-04-15 20:58] sarahahmed commented on #115
tests are correct

[2013-04-15 21:00] sarahahmed commented on #114
tests are correct

[2013-04-15 21:05] yasmin-eltahan commented on #151
@sarahahmed  please review my tests

[2013-04-15 21:05] yasmin-eltahan commented on #151
@tokaabdelgabar  can you please review my code

[2013-04-15 21:16] sarahahmed commented on #151
@yasmin-eltahan , model test is missing

[2013-04-15 21:18] mariam-ismail commented on #114
@Donia1 please recheck my UMLS

[2013-04-15 21:19] mariam-ismail commented on #115
@Donia1 please recheck my UMLS

[2013-04-15 21:26] mariam-ismail commented on #114
@samaakram please check my code and documentation

[2013-04-15 21:39] yasmin-eltahan commented on #159
Uml verified

[2013-04-15 21:40] sarahahmed commented on #141
@yasmin-eltahan updated my umls , please review me

[2013-04-15 21:44] yasmin-eltahan commented on #156
remove the user controller or if it has a method please show that :D

[2013-04-15 21:47] yasmin-eltahan commented on #155
you can't go directly from the button to the model

[2013-04-15 21:53] sarahahmed commented on #140
tests are correct

[2013-04-15 21:55] yasmin-eltahan commented on #195
there is something wrong with the format of this UML please check it out

[2013-04-15 22:05] yasmin-eltahan commented on #184
please remove twitter bootstrap and all its associated files as we have agreed before that it raised a lot of errors

[2013-04-15 22:07] yasmin-eltahan commented on #154
Please remove twitter bootstrap

[2013-04-15 22:08] yasmin-eltahan commented on #140
please remove twitter bootstrap

[2013-04-15 22:38] mariam-ismail commented on #223
@yasmin-eltahan could you please add group :test do
  gem 'faker'
  gem 'capybara'
  gem 'guard-rspec'
  gem 'launchy'
end

[2013-04-16 07:18] #209 closed, assigned to samaakram

[2013-04-16 07:27] samaakram opened #235 "As a group i can be part of a group/ being a child group and having a parent group"
c2_sama_groups_three_levels_hierarchy
9
@Donia1 @mayBadr @tokaabdelgabar

success:
the required field say if it is a parent or a child of a group and if a parent he has a child and grandchild groups only 3 levels down

failure:
exceeded the 3 level limit of groups, assign the same group under the same parent group it is already assigned to: Alert"THIS GROUP IS ALREADY PART OF THE GROUP"

Tasks:
1.

[2013-04-16 07:31] samaakram opened #236 "As a guest/member i can view the groups hierarchy (view)"
10
@mayBadr @Donia1 @mariam-ismail @tokaabdelgabar

success:
can access the other groups too

failure:
exceeded the 3 level limit of groups, request to contain the same group twice (which is already contained) Alert(this group is already part of your Group)

Tasks:
1. Research on validations
2. Documentation @tokaabdelgabar
3. UML @Donia1
4. Implementing the function logic @mayBadr
5. Handling inp

[2013-04-16 17:39] Donia1 commented on #195
@samaakram sama please check my documentation

[2013-04-16 17:39] Donia1 commented on #159
@samaakram  please check my documentation

[2013-04-16 17:40] Donia1 commented on #156
@samaakram  please check my documentation

[2013-04-16 17:42] Donia1 commented on #155
@samaakram please check my documentation

[2013-04-16 17:54] Donia1 commented on #156
@yasmin-eltahan fixed my uml

[2013-04-16 17:54] sarahahmed commented on #143
@yasmin-eltahan please review

[2013-04-16 18:04] Donia1 commented on #155
@yasmin-eltahan check my uml please

[2013-04-16 18:10] samaakram commented on #156
@Donia1
documentation review:
the last version of your branches i could find here were the ones last updated 4 days ago. they are still missing the "it returns" statement

[2013-04-16 18:12] Donia1 commented on #195
@yasmin-eltahan check my uml please

[2013-04-16 18:12] samaakram commented on #159
@Donia1
documentation review:
the last version of your branches i could find here were the ones last updated 4 days ago. they are still missing the "it returns" statement

[2013-04-16 18:12] samaakram commented on #195
@Donia1
documentation review:
the last version of your branches i could find here were the ones last updated 4 days ago. they are still missing the "it returns" statement

[2013-04-16 18:14] Donia1 commented on #155
@samaakram in here is my latest version

[2013-04-16 18:15] Donia1 commented on #156
@samaakram it is sigup branch

[2013-04-16 18:20] Donia1 commented on #114
checked your uml verified

[2013-04-16 18:21] Donia1 commented on #115
checked your uml verified

[2013-04-16 19:09] yasmin-eltahan commented on #151
@sarahahmed  i added my model test please review

[2013-04-16 19:13] samaakram commented on #159
@Donia1
documentation review:
in SessionsController:
you can delete the def new since you dint use it and put the documentation just for def create and def destroy you misspelled returns
in UsersController:
def show wrong doc; it actually takes/ARGS the user.id and returns the groupUser record, where its user.id = current_user.id
def create it returns the new user record/session record so instead

[2013-04-16 19:14] samaakram commented on #195
@Donia1
documentation review:
in SessionsController:
you can delete the def new since you dint use it and put the documentation just for def create and def destroy you misspelled returns
in UsersController:
def show wrong doc; it actually takes/ARGS the user.id and returns the groupUser record, where its user.id = current_user.id
def create it returns the new user record/session record so instead

[2013-04-16 19:18] samaakram commented on #156
@Donia1
Code Review:
in  ApplicationController & UsersController & UsersHelper & app / views / admin / show.html.erb & app / views / user/_getMyGroups.html.erb , show.html.erb
wrong indentation

[2013-04-16 19:18] samaakram commented on #156
@Donia1
documentation review:
in SessionsController:
you can delete the def new since you dint use it and put the documentation just for def create and def destroy you misspelled returns
in UsersController:
def show wrong doc; it actually takes/ARGS the user.id and returns the groupUser record, where its user.id = current_user.id
def create it returns the new user record/session record so instead

[2013-04-16 19:18] samaakram commented on #159
Code Review:
in ApplicationController & UsersController & UsersHelper & app / views / admin / show.html.erb & app / views / user/_getMyGroups.html.erb , show.html.erb
wrong indentation

[2013-04-16 19:18] samaakram commented on #195
Code Review:
in ApplicationController & UsersController & UsersHelper & app / views / admin / show.html.erb & app / views / user/_getMyGroups.html.erb , show.html.erb
wrong indentation

[2013-04-16 19:19] samaakram commented on #155
Code Review:
in ApplicationController & UsersController & UsersHelper & app / views / admin / show.html.erb & app / views / user/_getMyGroups.html.erb , show.html.erb
wrong indentation

[2013-04-16 19:20] samaakram commented on #155
@Donia1
documentation review:
in SessionsController:
you can delete the def new since you dint use it and put the documentation just for def create and def destroy you misspelled returns
in UsersController:
def show wrong doc; it actually takes/ARGS the user.id and returns the groupUser record, where its user.id = current_user.id
def create it returns the new user record/session record so instead

[2013-04-16 19:21] Donia1 commented on #155
@samaakram I cant take out def new because it creates the pages new in the views

[2013-04-16 19:27] mariam-ismail commented on #115
@samaakram  could you please check my code and documentaion

[2013-04-16 19:27] mariam-ismail commented on #115
@samaakram  could you please check my code and documentaion

[2013-04-16 19:28] mariam-ismail commented on #114
@samaakram  could you please check my code and documentaion

[2013-04-16 19:35] mariam-ismail opened #238 "As a member of a project I can associate hash tag on twitter/ share on facebook"
Success: 1.add link to the #tags, post/view a tweet associated with this tag/ 2.add a link, add "share on FB"
Failure: 1.already exists, no #tags associated with the project/ 2.not creator, not owner (not admin) of the page,

Tasks:
1. Research on validations
2. Documentation
4. Implementing the function logic
5. Handling input errors
6. CSS & Bootstrap
@samaakram @sarahahmed @salmaelruby @Riham-G

[2013-04-16 19:41] sarahahmed commented on #151
tests are correct

[2013-04-16 19:45] Donia1 commented on #155
@samaakram  fix what u wrote here

[2013-04-16 19:46] Donia1 commented on #156
@samaakram fixed it in 155

[2013-04-16 20:00] Donia1 commented on #159
@samaakram i fixed the code

[2013-04-16 20:17] samaakram commented on #159
@Donia1 code verified

[2013-04-16 20:17] samaakram commented on #159
@Donia1 doc verified

[2013-04-16 20:19] samaakram commented on #156
@Donia1 code verified
@Donia1 doc verified

[2013-04-16 20:19] samaakram commented on #155
@Donia1 code verified
@Donia1 doc verified

[2013-04-16 20:20] samaakram commented on #195
@Donia1 code verified
@Donia1 doc verified

[2013-04-16 20:23] Donia1 commented on #226
@yasmin-eltahan can u please check my uml

[2013-04-16 20:25] sarahahmed commented on #141
@tokaabdelgabar , please review my documention and code

[2013-04-16 20:26] Donia1 commented on #223
can u please add
gem 'omniauth-facebook'

[2013-04-16 20:37] samaakram commented on #114
@mariam-ismail
doc review:
in CommunitiesController:
for each method you have to specify its ARGS and what it returns

[2013-04-16 20:41] yasmin-eltahan commented on #143
I verified this task

[2013-04-16 20:45] samaakram commented on #114
@mariam-ismail:
code review:
 views / communities / admin.html.erb &  views / communities / list.html.erb &  views / communities / show.html.erb & CommunitiesController

fix the indentation

in  views / communities / edit.html.erb:
fix indentation and one ending p ( </p> ) is missing

[2013-04-16 20:47] samaakram commented on #115
@mariam-ismail:
code review:
views / communities / admin.html.erb & views / communities / list.html.erb & views / communities / show.html.erb & CommunitiesController

fix the indentation

in views / communities / edit.html.erb:
fix indentation and one ending p (
) is missing

[2013-04-16 20:47] samaakram commented on #115
@mariam-ismail
doc review:
in CommunitiesController:
for each method you have to specify its ARGS and what it returns

[2013-04-16 20:51] sarahahmed commented on #204
@nayera-muhammad  yes i did [branch c3_sarah_sprint0]

[2013-04-16 20:52] sarahahmed commented on #204
@tokaabdelgabar  i update my documentation and code , please review me

[2013-04-16 21:55] Riham-Gamal commented on #203
@salmaelruby  I added the umls in branch c2_Riahm_umls_sprint1

[2013-04-16 22:09] salmaelruby commented on #203
@Riham-Gamal  i have seen the umls i have just 2 comments : please raise the user (u dnt have to draw him manually u will find a drawing of the stick man in the uml section in cacoo) and he should be up at the same level of boxes of the views and models , secondly there is a white  box missing between return project of the controller and the view

[2013-04-17 11:51] yasmin-eltahan commented on #152
@Riham-Gamal  please review my scenario

@tokaabdelgabar  please review my code and documentation

[2013-04-17 12:09] yasmin-eltahan commented on #151
@tokaabdelgabar  please review my documentation and code

[2013-04-17 12:33] yasmin-eltahan commented on #151
@Riham-Gamal  please review my senario

[2013-04-17 12:44] tokaabdelgabar commented on #154
@yasmin-eltahan  I have removed the twitter bootstrap

[2013-04-17 12:44] mayBadr opened #240 "As a guest/user I can search groups"
@Donia1 @samaakram @mariam-ismail @yasmin-eltahan

Success: type a group name, get the link of this group
Failure: The group name the guest typed cannot be found

Task:
1. Documentation @Donia1
2. UML @Donia1
3. CSS & Bootstrap

[2013-04-17 12:48] mayBadr opened #241 "As a guest/user I can search communities"
@Donia1  @nayera-muhammad l @yasmin-eltahan

Success: type a community name, get the link of this community
Failure: The community the guest/user typed cannot be found

Task:
1. Documentation @Donia1
2. UML @Donia1
3. CSS & Bootstrap

[2013-04-17 13:01] tokaabdelgabar commented on #184
@yasmin-eltahan  I removed twitter bootstrap

[2013-04-17 13:01] mayBadr opened #242 "As an admin I have a layout"
@Donia1 @samaakram @mariam-ismail @yasmin-eltahan

success: the admin gets his own views, all buttons are shown

Failure: wrong redirection, wrong buttons

Tasks:
1. Implementing the function logic
2. CSS & Bootstrap

[2013-04-17 13:02] tokaabdelgabar commented on #140
@yasmin-eltahan I removed twitter bootstrap

[2013-04-17 13:05] mayBadr opened #243 "As a user I can view the list of project in a community"
@Donia1 @samaakram @mariam-ismail @yasmin-eltahan

Success:

Failure:

Tasks:
1. Research on validations
2. Documentation @samaakram
3. UML @Donia1
4. Implementing the function logic
5. CSS & Bootstrap

[2013-04-17 13:06] tokaabdelgabar commented on #204
@sarahahmed  what is the name of the branch

[2013-04-17 13:22] #242 closed, assigned to mayBadr

[2013-04-17 13:36] yasmin-eltahan commented on #155
@Donia1  UML verified

[2013-04-17 13:37] yasmin-eltahan commented on #156
@Donia1  UML verified

[2013-04-17 13:37] yasmin-eltahan commented on #195
@Donia1  same problem

[2013-04-17 13:47] yasmin-eltahan commented on #204
UML verified

[2013-04-17 13:48] yasmin-eltahan commented on #143
@sarahahmed  where is the UML ????

[2013-04-17 13:48] yasmin-eltahan commented on #141
@sarahahmed  the arrows of the opt must be inside the box also the arrows cannot be going in several directions

[2013-04-17 13:49] yasmin-eltahan commented on #141
@sarahahmed  this is for the edit and create

[2013-04-17 13:49] yasmin-eltahan commented on #141
@sarahahmed  add the name of the actor please

[2013-04-17 14:01] tokaabdelgabar commented on #204
@sarahahmed you have to mention
#Inputs: ????? and Outputs: ??????
#Returs: Array of Budget Items
for the documentation

[2013-04-17 14:22] tokaabdelgabar commented on #151
code and documentation verified

[2013-04-17 14:25] tokaabdelgabar commented on #152
documentation and code verified

[2013-04-17 14:46] yasmin-eltahan commented on #184
@tokaabdelgabar there is an edit button although he is not a creator please add the name of the project on top of the page to be more user friendly and remove the yellow color of the table there is also lot of empty fields in the table

[2013-04-17 14:58] yasmin-eltahan commented on #154
@tokaabdelgabar  remove the yellow color of the table

[2013-04-17 15:02] yasmin-eltahan commented on #140
@please add bootstrap gem the gem file

[2013-04-17 15:08] yasmin-eltahan commented on #152
@salmaelruby  please review my UML

[2013-04-17 15:08] yasmin-eltahan commented on #151
@salmaelruby  please review my UML

[2013-04-17 15:08] yasmin-eltahan commented on #150
@salmaelruby  please review my UML

[2013-04-17 15:59] salmaelruby commented on #152
i checked the umls and there are common small things to be corrected ( i will write here but they are for all of them ) :
- UI should be replaced by << view>>
  -the opt box is on only the required specific part
- << view >> << controller>> .. etc should be up and the name of controller should be below it
  -the arrow coming out of the admin should be touching the perpendicular line of the admin

[2013-04-17 16:19] tokaabdelgabar commented on #140
@yasmin-eltahan  please check the senario and uml

[2013-04-17 16:39] tokaabdelgabar commented on #184
@yasmin-eltahan  check uml and senario

[2013-04-17 16:39] sarahahmed commented on #141
@yasmin-eltahan updated my UMLs please review me

[2013-04-17 16:43] sarahahmed commented on #204
@tokaabdelgabar  i updated my documentation, please review me

[2013-04-17 16:48] sarahahmed commented on #141
@tokaabdelgabar updated my documentation please review me

[2013-04-17 16:49] tokaabdelgabar commented on #154
@yasmin-eltahan  check senario and uml

[2013-04-17 17:12] nayera-muhammad commented on #189
@Riham-Gamal  please review my code in comment.rb and project_user.rb this branch is only for testing

[2013-04-17 17:13] nayera-muhammad commented on #189
@salmaelruby  please review my documentation

[2013-04-17 17:32] nayera-muhammad commented on #177
@salmaelruby please review me and i added my uml files

[2013-04-17 17:32] nayera-muhammad commented on #178
@salmaelruby please review me and i added my uml files

[2013-04-17 17:33] nayera-muhammad commented on #179
@salmaelruby please review me and i added my uml files

[2013-04-17 17:33] nayera-muhammad commented on #189
@salmaelruby please review me and i added my uml files

[2013-04-17 17:52] yasmin-eltahan commented on #150
@sarahahmed  please review my tests

[2013-04-17 17:54] salmaelruby commented on #179
@nayera-muhammad  i have reviewed your umls just small correction should be made ..:
-- the << view >> , << controller >> .. etc should be up and name of controller/view below it
-- the returning line should return to the previous one at a time .. meaning you return from the project model to the newProject view first then a white box indicating processing time , then an arrow from newProject view

[2013-04-17 17:59] yasmin-eltahan commented on #150
@tokaabdelgabar please review code and documentation

[2013-04-17 18:24] sarahahmed commented on #150
tests are correct

[2013-04-17 18:53] yasmin-eltahan commented on #152
@salmaelruby  I updated the UML please review

[2013-04-17 19:03] nayera-muhammad commented on #204
verified ur tests

[2013-04-17 19:15] nayera-muhammad commented on #223
install this please
gem 'bootstrap-datepicker-rails'

[2013-04-17 19:22] Riham-Gamal commented on #177
scenario and code are verified

[2013-04-17 19:23] Riham-Gamal commented on #179
code and scenario are verified

[2013-04-17 19:28] yasmin-eltahan commented on #141
@sarahahmed senario verified

[2013-04-17 19:29] Donia1 commented on #195
@yasmin-eltahan

[2013-04-17 19:29] nayera-muhammad commented on #200
@salmaelruby  please reconsider ur tests and remove other stuff in order to remove errors in other files

[2013-04-17 19:32] nayera-muhammad commented on #179
:*

[2013-04-17 19:33] salmaelruby commented on #177
uml verified

[2013-04-17 19:33] nayera-muhammad commented on #179
@salmaelruby  please review my documentation

[2013-04-17 19:34] nayera-muhammad commented on #178
@salmaelruby  please review my documentation

[2013-04-17 19:34] nayera-muhammad commented on #177
@salmaelruby  please review my documentation

[2013-04-17 19:34] salmaelruby commented on #189
um verified

[2013-04-17 19:36] salmaelruby commented on #179
uml verified

[2013-04-17 19:36] yasmin-eltahan commented on #204
@sarahahmed senario verified

[2013-04-17 19:38] salmaelruby commented on #178
uml and doc verified

[2013-04-17 20:15] yasmin-eltahan commented on #184
@tokaabdelgabar for the UML the arrow going to the view must be a little bit down

for the senario please add the condition to check if he his the creator

[2013-04-17 20:24] yasmin-eltahan commented on #140
@tokaabdelgabar  for the scenario it only applies if the project id is 1

for the uml same comment as before

[2013-04-17 20:27] #155 closed, assigned to Donia1

[2013-04-17 20:36] yasmin-eltahan commented on #154
@tokaabdelgabar senario verified

for the UML same problem

[2013-04-17 21:57] yasmin-eltahan commented on #150
@Riham-Gamal  please review my senario

[2013-04-17 22:37] salmaelruby commented on #152
reviewed ur umls :D

[2013-04-17 22:38] salmaelruby commented on #151
reviewed ur umls :D

[2013-04-17 22:40] salmaelruby commented on #203
reviewed ur umls :D

[2013-04-18 12:20] nayera-muhammad commented on #203
tests verified

[2013-04-18 14:16] sarahahmed commented on #143
@tokaabdelgabar updated documentation,please review me

[2013-04-18 14:23] nayera-muhammad commented on #141
tests verfied

[2013-04-18 14:31] nayera-muhammad commented on #143
test verified

[2013-04-18 14:53] samaakram opened #251 "add attribute isGroup in posts table"
add boolean attribute isGroup in posts table
@yasmin-eltahan

[2013-04-18 21:50] samaakram commented on #203
Code verified

[2013-04-18 21:52] samaakram commented on #203
@Riham-Gamal  dont forget to re-choose the assign to and change the milestone to sprint 2

[2013-04-18 21:56] Riham-Gamal commented on #203
ok @samaakram

[2013-04-18 22:26] salmaelruby commented on #202
@Riham-Gamal  already no umls for this story to be done :D

[2013-04-18 22:40] salmaelruby commented on #203
doc verified ;)

[2013-04-18 22:40] salmaelruby commented on #202
doc verified :D

[2013-04-18 22:50] nayera-muhammad opened #252 "as a creator i can delete a project"
@Riham-Gamal  @salmaelruby @mariam-ismail

[2013-04-19 06:22] tokaabdelgabar commented on #140
@salmaelruby  please verify the documentation

[2013-04-19 13:18] Riham-Gamal commented on #203
@mayBadr please review the scenario

[2013-04-19 13:19] Riham-Gamal commented on #202
@mayBadr please review the scenario

[2013-04-19 13:33] tokaabdelgabar commented on #184
@yasmin-eltahan can you check the senario

[2013-04-19 13:48] tokaabdelgabar commented on #140
@yasmin-eltahan  can you check the senario

[2013-04-19 14:01] mayBadr commented on #203
scenario checked!

[2013-04-19 14:02] mayBadr commented on #241
@Donia1  plz verify UML

[2013-04-19 14:03] mayBadr commented on #240
@Donia1 verify uml

[2013-04-19 14:04] mayBadr commented on #165
@Donia1 plz verify uml

[2013-04-19 14:04] mayBadr commented on #164
@Donia1  plz verify uml

[2013-04-19 14:05] mayBadr commented on #162
plz verify uml

[2013-04-19 14:05] mayBadr commented on #162
@Donia1  plz verify uml

[2013-04-19 14:05] mayBadr commented on #158
@Donia1  plz verify uml

[2013-04-19 14:29] Donia1 commented on #241
verified

[2013-04-19 14:30] Donia1 commented on #240
verified

[2013-04-19 14:32] Donia1 commented on #158
verified

[2013-04-19 14:35] Donia1 commented on #162
verified

[2013-04-19 14:36] Donia1 commented on #164
verified

[2013-04-19 14:37] Donia1 commented on #165
verified

[2013-04-19 14:44] nayera-muhammad opened #257 "as a creator i can delete a project"
branch name: c2_nayera_as_a_creator_delete_project
product backlog number: 44
success:
deleted successfuly and its budgets
failure:
can't be deleted if it has budgets

Tasks:
1. code @Riham-Gamal
2. Documentation @salmaelruby
3. UML @salmaelruby
4. test @mariam-ismail
5. Bootstrap

[2013-04-19 16:02] samaakram commented on #159
@Donia1
doc review
on the master you pushed your old branch with the old mistakes
so please fix them and also in sessionController i cant find your ID anymore!! and def show it doesnt take the session ID it takes/ARGS :user_id

[2013-04-19 16:47] nayera-muhammad commented on #257
@Riham-Gamal  please review my scenario and and code , @salmaelruby  please review my documentation

[2013-04-19 17:46] Riham-Gamal commented on #177
scenario is verified

[2013-04-19 18:29] yasmin-eltahan commented on #154
UML verified

[2013-04-19 19:46] #203 closed, assigned to Riham-Gamal

[2013-04-19 21:11] salmaelruby commented on #140
doc verified

[2013-04-19 21:16] nayera-muhammad commented on #257
@salmaelruby  i have added the uml please review them they are on c2_nayera_as_a_creator_delete_project , theres a file called NayeraSprin2Umls inside it there is deleteProject.pdf ... thq  and please review the documentation as well

[2013-04-19 21:36] yasmin-eltahan commented on #184
@tokaabdelgabar  please fix the bootstrap issue

[2013-04-19 21:36] yasmin-eltahan commented on #140
@tokaabdelgabar  please fix the bootstrap issue

[2013-04-19 21:38] nayera-muhammad commented on #257
@mariam-ismail  please review my tests

[2013-04-19 21:39] yasmin-eltahan commented on #140
@tokaabdelgabar  UML verified

[2013-04-19 21:40] yasmin-eltahan commented on #184
@tokaabdelgabar  UML verified

[2013-04-19 23:15] nayera-muhammad commented on #200
@salmaelruby they are not fully changed please check them again

[2013-04-19 23:19] salmaelruby commented on #144
@yasmin-eltahan  please review my umls i corrected them :D  c2_salma_sprint1_umls

[2013-04-19 23:20] salmaelruby commented on #200
@Donia1  please review my umls i corrected them :D  c2_salma_sprint1_umls

[2013-04-19 23:20] salmaelruby commented on #146
@Donia1   please review my umls i corrected them :D  c2_salma_sprint1_umls

[2013-04-19 23:22] salmaelruby commented on #145
@Donia1  please review my umls i corrected them :D  c2_salma_sprint1_umls

[2013-04-20 12:43] salmaelruby commented on #200
@nayera-muhammad  i corrected the tests please review me c2_salma_sprint1_delete_task

[2013-04-20 12:43] salmaelruby commented on #200
@Riham-Gamal  please review my code and scenario c2_salma_sprint1_delete_task

[2013-04-20 12:45] salmaelruby commented on #146
@Riham-Gamal  please review code and scenario

[2013-04-20 12:48] salmaelruby commented on #145
@Riham-Gamal  please review my code and scenario

[2013-04-20 12:48] salmaelruby commented on #144
@Riham-Gamal please review my code and scenario c2_salma_sprint1_delete_task

[2013-04-20 12:50] salmaelruby commented on #144
@Donia1  please review my umls c2_salma_sprint1_umls

[2013-04-20 12:51] salmaelruby commented on #85
blez review @Riham-Gamal  @nayera-muhammad  @Donia1

[2013-04-20 13:05] salmaelruby opened #266 "26- As a member I can add photos to a project / attachments"
Success  :
browse then upload, add more photos/ videos / attachments / added successfully

Failure :
try again, not enough space, incorrect format/the user hasn't attached anything or wrong file

Tasks :
-UML
- tests
  -Scenario
  -Code
  -CSS

[2013-04-20 13:20] salmaelruby opened #268 "as a project creator i can unassign tasks to members"
Success :
only members in this project who are assigned appears and project creator unassigns a task to a member

tasks :
-UML
-code and documentation
-css
-tests

[2013-04-20 13:43] mariam-ismail commented on #257
@nayera-muhammad  verified your tests

[2013-04-20 13:55] salmaelruby commented on #257
@nayera-muhammad  i reviewed ur umls  and doc

[2013-04-20 15:13] mariam-ismail commented on #114
@Donia1  please recheck my UMLS

[2013-04-20 15:14] mariam-ismail commented on #115
@Donia1  please recheck my UMLS

[2013-04-20 15:44] Riham-Gamal commented on #257
scenario and code verified

[2013-04-20 17:53] mariam-ismail commented on #114
@Riham-Gamal  please review my scenario

[2013-04-20 17:53] mariam-ismail commented on #115
@Riham-Gamal  please review my scenario

[2013-04-20 18:29] mariam-ismail commented on #114
@samaakram please review my code and documentation

[2013-04-20 18:29] mariam-ismail commented on #115
@samaakram please review my code and documentation

[2013-04-20 18:34] Donia1 commented on #144
@salma they all have the same problem write the name at the top then controllers under it

[2013-04-20 18:36] Donia1 commented on #145
@salmaelruby  change the name put at the top and controller at the bottom

[2013-04-20 18:39] Donia1 commented on #200
@salmaelruby put the name up and the <<controller>> /<<view>> down under the name

[2013-04-20 18:55] Riham-Gamal commented on #114
@mariam-ismail i reviewd the scenaio but there is a uniquness validation on the email why???

[2013-04-20 19:44] mariam-ismail commented on #114
@Riham-Gamal  I removed the validation please recheck

[2013-04-20 19:44] mariam-ismail commented on #115
@Riham-Gamal  I removed the validation please recheck

[2013-04-20 19:45] mariam-ismail commented on #115
@sarahahmed please re-verify the tests

[2013-04-20 19:46] mariam-ismail commented on #114
@sarahahmed please re-verify my tests

[2013-04-20 19:49] Donia1 commented on #115
@mariam-ismail verified

[2013-04-20 19:50] Donia1 commented on #114
verified

[2013-04-20 19:58] sarahahmed commented on #114
tests are correct

[2013-04-21 07:13] samaakram commented on #114
@mariam-ismail
code review:
CommunitiesController line 25: indentation problem
line 7 is empty this drives git crazy :d remove it
and the view also fix the indentation please :)

[2013-04-21 07:13] samaakram commented on #115
@mariam-ismail
Code review
CommunitiesController line 42 and 44: indentation problems
and the view also fix the indentation please :)

[2013-04-21 08:59] mariam-ismail commented on #115
@samaakram fixed the problem please recheck

[2013-04-21 09:00] mariam-ismail commented on #114
@samaakram fixed the problem please recheck

[2013-04-21 11:10] mariam-ismail commented on #175
@samaakram please review my code and documentation

[2013-04-21 11:24] samaakram commented on #114
@mariam-ismail code verified

[2013-04-21 11:24] samaakram commented on #115
@mariam-ismail code verified

[2013-04-21 11:31] samaakram commented on #175
@mariam-ismail
code review
GroupUsersController line 13: indentation problem
rest is perfect

[2013-04-21 12:36] Riham-Gamal commented on #115
scenario verified

[2013-04-21 12:37] Riham-Gamal commented on #114
scenariio verified

[2013-04-21 12:42] samaakram commented on #114
@mariam-ismail
doc verified

[2013-04-21 12:42] samaakram commented on #115
@mariam-ismail
doc verified

[2013-04-21 12:59] mariam-ismail commented on #175
@Riham-Gamal please review me

[2013-04-21 16:48] Riham-Gamal commented on #202
@yasmin-eltahan please review the scenario

[2013-04-21 17:17] samaakram commented on #156
@Donia1
doc review
old mistakes are back

[2013-04-21 18:48] mariam-ismail commented on #175
@salmaelruby please review my UMLS

[2013-04-21 18:48] mariam-ismail commented on #175
@samaakram please recheck my documentation

[2013-04-21 19:41] samaakram commented on #175
@mariam-ismail
code verified
doc verified

[2013-04-21 21:38] yasmin-eltahan commented on #202
@Riham-Gamal  I verified the code and senario

[2013-04-21 21:45] salmaelruby commented on #202
doc verified

[2013-04-21 21:52] #202 closed, assigned to Riham-Gamal

[2013-04-22 11:53] samaakram commented on #157
@mariam-ismail could you plz review my tests

in spec/controllers/groups_controller_spec.rb
 and
spec/models/group_spec.rb

[2013-04-22 11:54] samaakram commented on #157
@tokaabdelgabar plz review my doc & code
in groups_controller.rb

[2013-04-22 11:54] samaakram commented on #160
@mariam-ismail could you plz review my tests

in spec/controllers/groups_controller_spec.rb
and
spec/models/group_spec.rb

[2013-04-22 11:54] samaakram commented on #160
@tokaabdelgabar  plz review my doc & code

[2013-04-22 11:55] samaakram commented on #163
@tokaabdelgabar plz review my doc

[2013-04-22 15:29] samaakram commented on #160
@Riham-Gamal plz review my code

[2013-04-22 16:50] Riham-Gamal opened #273 "As a project admin I can promote members"

[2013-04-22 17:06] tokaabdelgabar commented on #160
@samaakram code and documention verified

[2013-04-22 17:06] tokaabdelgabar commented on #157
@samaakram code and documention verified

[2013-04-22 17:54] mariam-ismail commented on #157
@samaakram  done

[2013-04-22 17:54] mariam-ismail commented on #160
@samaakram done

[2013-04-23 21:00] mariam-ismail opened #276 "gem_tables"
@yasmin-eltahan  please add isGroup column in groups model

[2013-04-24 00:14] samaakram opened #277 "gem_tables"
@yasmin-eltahan please add a boolean attribute isGroup in Comments table

ma3lesh :$

[2013-04-24 02:24] salmaelruby opened #279 "gem_tables"
@yasmin-eltahan  please add for me table attachment as i want to be able to upload stuff such as images in a project

[2013-04-24 23:02] sarahahmed opened #282 "as a member i should recieve notifications for any updates"
success: i should be able to receive notifications for any updates in my projects , or groups

Tasks:
1. code @tokaabdelgabar
2. Documentation @tokaabdelgabar
3. UML  @yasmin-eltahan
4. test  @nayera-muhammad
5. CSS & Bootstrap

[2013-04-25 02:29] Riham-Gamal opened #283 "As a user I can add profile picture"
@samaakram @salmaelruby @mariam-ismail @yasmin-eltahan
Success:
I can add a pp and it appears on my profile

Failure:
The pp does not appear on my profile

[2013-04-25 02:33] Riham-Gamal opened #284 "As a group creator I can promote group members"
@samaakram @salmaelruby @mariam-ismail @yasmin-eltahan
Success:
The group member becomes a creator the button next to his name changes

Failure
The button stays the same

[2013-04-25 19:15] yasmin-eltahan commented on #184
@tokaabdelgabar i verified senario

[2013-04-25 21:51] yasmin-eltahan opened #286 "User Layout"
@sarahahmed  @Riham-Gamal @tokaabdelgabar @salmaelruby

[2013-04-25 22:37] mariam-ismail commented on #159
@Donia1  please recheck your tests as you have 4 failures in users model

[2013-04-25 22:39] mariam-ismail commented on #156
@Donia1 please recheck your tests, you have 4 failures in users model

[2013-04-26 00:32] mariam-ismail commented on #175
@sarahahmed please verify my tests

[2013-04-26 00:39] Riham-Gamal commented on #175
the flash notice that appears after the member joins is not realistic

[2013-04-26 01:12] mariam-ismail commented on #175
removed the flash notice @Riham-Gamal

[2013-04-26 01:17] sarahahmed commented on #175
tests are correct

[2013-04-26 02:59] samaakram commented on #163
@mariam-ismail please review my tests in group_user_controller_spec.rb

[2013-04-26 02:59] samaakram commented on #163
@tokaabdelgabar please review my code and doc in groupUsers controller

[2013-04-26 03:21] samaakram commented on #163
@tokaabdelgabar please review my code and doc in groupUsers controller

[2013-04-26 03:21] samaakram commented on #163
@mariam-ismail please review my tests in group_user_controller_spec.rb

[2013-04-26 13:15] yasmin-eltahan opened #289 "As guest or a member i can view budget sources of a project"
@sarahahmed  @Riham-Gamal  @tokaabdelgabar  @salmaelruby

[2013-04-26 13:54] tokaabdelgabar commented on #163
sama there is one method with no id number

[2013-04-26 14:30] samaakram commented on #163
@tokaabdelgabar
omar (doc evaluator) said its useless to write our id.. only names

[2013-04-26 15:45] mariam-ismail commented on #163
@samaakram  i verified your tests

[2013-04-26 18:14] tokaabdelgabar opened #290 "As an admin I can assign user to budget items"
@yasmin-eltahan @sarahahmed @samaakram  @salmaelruby
Success: when assigning the user enters the user and budget item and gets assigned
Failure: no failure

Task:
1. Documentation @salmaelruby
2. UML @yasmin-eltahan
3. CSS & Bootstrap

[2013-04-26 18:15] tokaabdelgabar opened #291 "admin layout"
As an admin I have a seperate layout from the user
success :+ admin log in and see everything in his view
faliure: see the view of the user

tasks:
add new layout

@yasmin-eltahan @sarahahmed @Riham-Gamal @salmaelruby
@Donia1 @mayBadr @mariam-ismail @nayera-muhammad @samaakram

[2013-04-27 18:19] Riham-Gamal commented on #284
@yasmin-eltahan please review the scenario c2_Riham_group_promote_members

[2013-04-27 18:20] Riham-Gamal commented on #284
@mariam-ismail  please review the tests c2_Riham_group_promote_members

[2013-04-27 18:20] Riham-Gamal commented on #284
@samaakram   please review the code c2_Riham_group_promote_members

[2013-04-27 18:20] Riham-Gamal commented on #284
@salmaelruby  please review the documentation c2_Riham_group_promote_members

[2013-04-27 18:21] Riham-Gamal commented on #273
@yasmin-eltahan   please review the scenario c2_Riham_project_promote_members

[2013-04-27 18:21] Riham-Gamal commented on #273
@salmaelruby  please review the documentation c2_Riham_project_promote_members

[2013-04-27 18:22] Riham-Gamal commented on #273
@mariam-ismail  please review the tests c2_Riham_project_promote_members

[2013-04-27 18:22] Riham-Gamal commented on #273
@samaakram  please review the code c2_Riham_project_promote_members

[2013-04-27 18:22] Riham-Gamal commented on #283
@yasmin-eltahan please review the scenario c2_Riham_add_pp

[2013-04-27 18:23] Riham-Gamal commented on #283
@salmaelruby please review the documentation  c2_Riham_add_pp

[2013-04-27 18:23] Riham-Gamal commented on #283
@samaakram  please review the code c2_Riham_add_pp

[2013-04-27 19:28] Riham-Gamal opened #297 "update table users add column image"
@yasmin-eltahan please add column image in the table users

[2013-04-27 21:00] mariam-ismail commented on #284
@Riham-Gamal  verified you tests

[2013-04-28 10:10] yasmin-eltahan commented on #286
@Riham-Gamal  please review my senario

[2013-04-28 10:11] yasmin-eltahan commented on #289
@Riham-Gamal  please review my senario

[2013-04-28 10:18] yasmin-eltahan commented on #289
@tokaabdelgabar  please review my code

[2013-04-28 10:18] yasmin-eltahan commented on #286
@tokaabdelgabar  please review my code

[2013-04-28 12:43] sarahahmed commented on #282
@yasmin-eltahan  please review

[2013-04-28 13:12] mariam-ismail commented on #172
@Riham-Gamal  please review the scenario

[2013-04-28 13:12] mariam-ismail commented on #174
@Riham-Gamal  please review the scenario

[2013-04-28 13:12] mariam-ismail commented on #173
@Riham-Gamal  please review the scenario

[2013-04-28 13:15] yasmin-eltahan commented on #283
@Riham-Gamal  I verified the senario

[2013-04-28 13:30] mariam-ismail commented on #238
@Riham-Gamal please review the scenario

[2013-04-28 13:31] yasmin-eltahan commented on #282
@sarahahmed senario verified

[2013-04-28 13:31] mariam-ismail commented on #238
@samaakram please review my code and documentation in projects show

[2013-04-28 14:06] tokaabdelgabar commented on #291
guys any one who needs a button for the admin page tell me here so I can add it
thank you

[2013-04-28 15:49] mariam-ismail commented on #273
@Riham-Gamal  verified your tests

[2013-04-28 22:34] salmaelruby commented on #200
@Riham-Gamal  please review my code and scenario c2_salma_sprint_1

[2013-04-28 22:36] mayBadr commented on #241
@nayera-muhammad  .... can u plz verify my tests c1_may_allCommunities_spTwo...community controller!

[2013-04-28 22:37] mayBadr commented on #241
@yasmin-eltahan plz verify the scenario c1_may_allCommunities_spTwo

[2013-04-28 22:38] mayBadr commented on #164
@nayera-muhammad  can u plz verify my tests c1_may_allCommunities_spTwo...community controller!

[2013-04-28 22:38] mayBadr commented on #164
@yasmin-eltahan plz verify the scenario c1_may_allCommunities_spTwo

[2013-04-28 22:39] mayBadr commented on #162
@nayera-muhammad  can u plz verify my tests c1_may_allCommunities_spTwo...community controller!

[2013-04-28 22:40] mayBadr commented on #162
@yasmin-eltahan plz verify the scenario c1_may_allCommunities_spTwo

[2013-04-28 22:56] salmaelruby commented on #146
@Riham-Gamal  please review my scenario and code c2_salma_sprint_1

[2013-04-28 22:56] salmaelruby commented on #144
@Riham-Gamal  please review my scenario and code c2_salma_sprint_1

[2013-04-28 23:56] yasmin-eltahan commented on #284
@Riham-Gamal  Senario verified

[2013-04-28 23:56] yasmin-eltahan commented on #273
@Riham-Gamal  senario verified

[2013-04-29 00:10] Riham-Gamal commented on #200
@salmaelruby
please change the Milestone ti sprint 2
the text in the table should be right aligned not left
the delete button and ta3yeen a3da2 are to close to each other
make the text box of the task description larger

[2013-04-29 00:34] samaakram opened #302 "As a guest/member i can show a group"
@mariam-ismail @Riham-Gamal @salmaelruby @tokaabdelgabar

[2013-04-29 01:03] mariam-ismail commented on #175
@salmaelruby  please review my UMLS in this branch c2_mariam_UMLS

[2013-04-29 01:03] mariam-ismail commented on #172
@salmaelruby  please review my UMLS in this branch c2_mariam_UMLS

[2013-04-29 01:03] mariam-ismail commented on #173
@salmaelruby  please review my UMLS in this branch c2_mariam_UMLS

[2013-04-29 01:04] mariam-ismail commented on #174
@salmaelruby  please review my UMLS in this branch c2_mariam_UMLS

[2013-04-29 01:20] mayBadr commented on #240
@samaakram  plz verify my doc c_may_allGroups_spTwo

[2013-04-29 01:20] mayBadr commented on #240
@yasmin-eltahan plz verify my scenario c1_may_allGroups_spTwo

[2013-04-29 01:26] samaakram commented on #235
@Riham-Gamal plz review my scenario in c2_sama_groups_three_levels_hierarchy

[2013-04-29 01:34] samaakram commented on #235
@tokaabdelgabar  please review my code and documentation (method doc in groupsHelper)

[2013-04-29 02:51] samaakram commented on #240
@mayBadr im not in your component anymore so im not your reviewer

[2013-04-29 03:42] #251 closed, assigned to samaakram

[2013-04-29 07:37] tokaabdelgabar commented on #290
@Riham-Gamal please review my code
@salmaelruby please review my documentation

[2013-04-29 08:04] mariam-ismail commented on #172
@samaakram please  review me

[2013-04-29 08:04] mariam-ismail commented on #173
@samaakram please  review me

[2013-04-29 08:04] mariam-ismail commented on #174
@samaakram please  review me

[2013-04-29 12:22] mayBadr commented on #162
@nayera-muhammad plz verify my tests.... c1_may_allCommunities_spTwo ....community controller

[2013-04-29 12:23] mayBadr commented on #241
@nayera-muhammad can u plz verify my tests c1_may_allCommunities_spTwo...community controller!

[2013-04-29 12:24] mayBadr commented on #164
@nayera-muhammad can u plz verify my tests c1_may_allCommunities_spTwo...community controller!

[2013-04-29 12:34] nayera-muhammad opened #303 "when the project ends it must be frozen on the website"
branch name: c2_nayera_as_a_system_freeze_projects
product backlog number: 37
success:
project buttons frozen
failure:
project is still in process ,

Tasks:
1. code @Donia1
3. UML @Donia1

[2013-04-29 12:42] nayera-muhammad commented on #164
please test the "rescue ActiveRecord::RecordNotFound"

[2013-04-29 12:42] nayera-muhammad commented on #162
you have got an unfinished test while testing the list

[2013-04-29 12:44] nayera-muhammad commented on #241
please do tests for you search in the model

[2013-04-29 13:03] #158 closed, assigned to mayBadr

[2013-04-29 15:48] salmaelruby commented on #175
@mariam-ismail  i have reviewed your uml and here are my recommendations :
- the admin actor is not put in box its just a line under the person like the letter " T "
- the view , models , controller should be written on a separate line meaning << view >> , << controller  >> , << Model >> then under each one is their name
  -please take care than the arrows are coming out the end of the white box

[2013-04-29 15:51] salmaelruby commented on #174
@mariam-ismail  i have checked you umls they have common mistakes so please check my comment in the issue of  #175 As a member I can join a group

[2013-04-29 15:54] salmaelruby commented on #173
@mariam-ismail i have checked you umls they have common mistakes so please check my comment in the issue of ----175 As a member I can join a group

[2013-04-29 15:54] salmaelruby commented on #172
@mariam-ismail i have checked you umls they have common mistakes so please check my comment in the issue of #175 As a member I can join a group

[2013-04-29 16:39] salmaelruby commented on #290
@tokaabdelgabar  i have reviewed the documentation

[2013-04-29 18:47] mayBadr commented on #165
@nayera-muhammad  plz verify my tests c1_may_allGroups_spTwo....groups_controller...edit and update methods

[2013-04-29 18:47] mayBadr commented on #165
@Donia1 plz verify my doc c1_may_allGroups_spTwo.

[2013-04-29 18:48] mayBadr commented on #165
@yasmin-eltahan  plz verify my scenario c1_may_allGroups_spTwo

[2013-04-29 18:49] mayBadr commented on #240
@nayera-muhammad plz verify my tests c1_may_allGroups_spTwo....groups_controller...edit and update methods

[2013-04-29 18:49] mayBadr commented on #240
@Donia1 plz verify my doc c1_may_allGroups_spTwo.

[2013-04-29 18:50] mayBadr commented on #166
@Donia1 plz verify my doc c1_may_allGroups_spTwo.

[2013-04-29 18:50] mayBadr commented on #240
@yasmin-eltahan plz verify my scenario c1_may_allGroups_spTwo

[2013-04-29 18:50] mayBadr commented on #166
@yasmin-eltahan plz verify my scenario c1_may_allGroups_spTwo

[2013-04-29 18:57] Donia1 commented on #165
@mayBadr you have to put Author before your name

[2013-04-29 19:00] Donia1 commented on #166
@mayBadr you have to put Author before your name in group controller user controller group.rb

[2013-04-29 19:01] Donia1 commented on #240
@mayBadr you have to put Author before your name in group controller user controller group.rb

[2013-04-29 19:30] mayBadr commented on #240
@Donia1  corrected my docs plz verify

[2013-04-29 19:31] mayBadr commented on #166
@Donia1 corrected my docs plz verify

[2013-04-29 19:31] mayBadr commented on #165
@Donia1  corrected my docs plz verify

[2013-04-29 19:37] #243 closed, assigned to mayBadr

[2013-04-29 19:44] Donia1 commented on #240
verified

[2013-04-29 19:49] Donia1 commented on #165
verified

[2013-04-29 19:50] Donia1 commented on #166
verified

[2013-04-29 20:12] nayera-muhammad commented on #165
you are having 3 failures in the groups controller

[2013-04-29 20:17] nayera-muhammad commented on #165
the edit part is verified

[2013-04-29 20:17] mayBadr commented on #165
@nayera-muhammad ....these r not my tests...my tests r edit and update only!! cut the other test and run !

[2013-04-30 11:00] salmaelruby commented on #284
@riham doc verfified

[2013-04-30 13:27] sarahahmed commented on #282
@tokaabdelgabar please review

[2013-04-30 13:29] salmaelruby commented on #144
@Donia1  please review my scenario

[2013-04-30 13:38] salmaelruby commented on #200
please review me @Donia1 @samaakram

[2013-04-30 13:38] salmaelruby commented on #146
please review me @Donia1  @samaakram

[2013-04-30 13:38] salmaelruby commented on #145
@Donia1  @samaakram  please review me

[2013-04-30 13:39] salmaelruby commented on #145
@samaakram  please review me

[2013-04-30 14:11] samaakram commented on #144
@salmaelruby
code review:
fix the indentation problems in views and controllers

[2013-04-30 14:13] samaakram commented on #144
@salmaelruby
doc review:
it method does not return or arg anything then write that it doesnt args or return anything
 def create is without any doc

[2013-04-30 14:30] salmaelruby commented on #144
@samaakram  i have corrected the code

[2013-04-30 14:32] sarahahmed commented on #282
@nayera-muhammad  please review

[2013-04-30 14:33] salmaelruby commented on #144
@samaakram  and doc

[2013-04-30 14:35] samaakram commented on #144
@salmaelruby
doc and code verified

[2013-04-30 14:35] samaakram commented on #145
@salmaelruby
doc and code verified

[2013-04-30 14:35] samaakram commented on #146
@salmaelruby
doc and code verified

[2013-04-30 14:35] samaakram commented on #200
@salmaelruby
doc and code verified

[2013-04-30 17:15] nayera-muhammad commented on #282
u have multiple migrations i couldn't test ur tests

[2013-04-30 18:35] Donia1 commented on #145
verified

[2013-04-30 18:35] Donia1 commented on #146
verified

[2013-04-30 18:37] Donia1 commented on #144
verified

[2013-04-30 18:53] samaakram commented on #142
@salmaelruby code and doc verified

[2013-04-30 19:11] Riham-Gamal opened #306 "As a project admin I can add google map"

[2013-04-30 19:28] mayBadr commented on #241
@nayera-muhammad  i did the tests...plz verify c1_may_allCommunities_spTwo

[2013-04-30 19:29] mayBadr commented on #241
@Donia1 plz verify the doc c1_may_allCommunities_spTwo

[2013-04-30 19:29] mayBadr commented on #241
@yasmin-eltahan plz verify the scenario c1_may_allCommunities_spTwo

[2013-04-30 19:30] mayBadr commented on #164
@nayera-muhammad i did the test...plz verify c1_may_allCommunities_spTwo

[2013-04-30 19:31] mayBadr commented on #162
@nayera-muhammad i did the test...plz verify c1_may_allCommunities_spTwo

[2013-04-30 19:31] mayBadr commented on #162
@Donia1  plz verify docs c1_may_allCommunities_spTwo

[2013-04-30 19:31] mayBadr commented on #162
@yasmin-eltahan  plz verify scenario c1_may_allCommunities_spTwo

[2013-04-30 19:31] mayBadr commented on #164
@Donia1 plz verify docs c1_may_allCommunities_spTwo

[2013-04-30 19:32] mayBadr commented on #164
@yasmin-eltahan plz verify the scenario c1_may_allCommunities_spTwo

[2013-04-30 20:06] tokaabdelgabar commented on #282
@sarahahmed can you fix the code of budget items controller

[2013-04-30 20:11] tokaabdelgabar commented on #235
verified

[2013-04-30 20:17] mayBadr commented on #240
@nayera-muhammad  did the test....plz verify c1_may_allGroups_spTwo

[2013-04-30 20:17] mayBadr commented on #240
@yasmin-eltahan plz verify scenario c1_may_allGroups_spTwo

[2013-04-30 20:17] mayBadr commented on #166
@yasmin-eltahan plz verify scenario c1_may_allGroups_spTwo

[2013-04-30 20:18] mayBadr commented on #165
@Donia1 what's wrong with the doc label...why still reopen?

[2013-04-30 20:19] mayBadr commented on #165
@yasmin-eltahan plz verify scenario c1_may_allGroups_spTwo

[2013-04-30 20:34] sarahahmed commented on #282
@tokaabdelgabar  this contoller belogs to yasmin

[2013-04-30 20:35] Donia1 commented on #162
verified

[2013-04-30 20:37] Donia1 commented on #165
verify

[2013-04-30 20:54] nayera-muhammad commented on #282
tests verified

[2013-04-30 23:08] nayera-muhammad commented on #303
@mayBadr  please review my scenario

[2013-04-30 23:09] nayera-muhammad commented on #303
@donia please review my code

[2013-04-30 23:09] nayera-muhammad commented on #303
the file is app/views/projects/show.html.erb

[2013-04-30 23:25] nayera-muhammad commented on #241
tests verified

[2013-04-30 23:29] nayera-muhammad commented on #164
tests verified

[2013-04-30 23:29] nayera-muhammad commented on #162
tests verified

[2013-04-30 23:50] Riham-Gamal commented on #286
@yasmin-eltahan
the white color of the text is not clear
make the description of the carousel in the list right aligned
after creating the carousel redirect to the show action not to the list
change all the language to arabic

[2013-05-01 00:14] mariam-ismail commented on #144
The tests are not running, syntax error, unexpected end in line 143

[2013-05-01 00:14] mariam-ismail commented on #145
The tests are not running, syntax error, unexpected end in line 143

[2013-05-01 00:14] mariam-ismail commented on #146
The tests are not running, syntax error, unexpected end in line 143

[2013-05-01 00:14] mariam-ismail commented on #200
The tests are not running, syntax error, unexpected end in line 143

[2013-05-01 00:48] mayBadr commented on #303
@nayera-muhammad correct the button..it has to appear even if project frozen

[2013-05-01 00:53] samaakram commented on #273
@Riham-Gamal code verified

[2013-05-01 00:56] samaakram commented on #284
@Riham-Gamal code verified

[2013-05-01 00:57] salmaelruby commented on #283
@riham i have reviewed the doc

[2013-05-01 00:57] mariam-ismail commented on #145
verified your tests

[2013-05-01 00:58] mariam-ismail commented on #144
verified your tests

[2013-05-01 00:58] mariam-ismail commented on #146
verified your tests

[2013-05-01 00:58] mariam-ismail commented on #200
verified your tests

[2013-05-01 00:59] samaakram commented on #283
@Riham-Gamal code verified

[2013-05-01 01:03] salmaelruby commented on #273
@Riham-Gamal  doc verified

[2013-05-01 01:57] samaakram commented on #235
@Riham-Gamal pleaaaaaaaaase review my scenario

[2013-05-01 10:00] tokaabdelgabar commented on #291
@Riham-Gamal please review code
@yasmin-eltahan please review senario

[2013-05-01 11:24] Donia1 commented on #164
verified

[2013-05-01 11:39] Donia1 commented on #241
verified

[2013-05-01 11:51] nayera-muhammad commented on #240
there is a failure in line 14 in group_spec.rb

[2013-05-01 11:54] mayBadr commented on #240
it's not my test...my test is ....it "should respond to (search)" do....only

[2013-05-01 12:32] yasmin-eltahan commented on #235
@samaakram  senario verified

[2013-05-01 12:34] samaakram commented on #235
@mariam-ismail plz review my tests

[2013-05-01 12:48] sarahahmed commented on #289
@yasmin-eltahan tests verified

[2013-05-01 12:58] nayera-muhammad commented on #240
tests verified

[2013-05-01 13:10] tokaabdelgabar commented on #289
@yasmin-eltahan  documentation verified

[2013-05-01 13:59] tokaabdelgabar commented on #291
@yasmin-eltahan  fixed senario :+1:

[2013-05-01 14:16] Riham-Gamal commented on #289
@yasmin-eltahan scenario verified

[2013-05-01 14:22] yasmin-eltahan commented on #291
@tokaabdelgabar Senario verified

[2013-05-01 15:46] tokaabdelgabar commented on #291
@samaakram  please verify code

[2013-05-01 15:56] tokaabdelgabar commented on #290
@samaakram please review my code

[2013-05-01 16:17] samaakram commented on #291
@tokaabdelgabar code verified

[2013-05-01 17:10] nayera-muhammad commented on #303
@donia please verify my umls in c2_nayera_as_a_creator_edit_project/NayeraSprint2Umls/freezeProjecUml.pdf

and verify my code in c2_nayera_a_frozen_projects in app/views/project/show.html

[2013-05-01 17:25] Donia1 commented on #303
@nayera-muhammad  in between show button and hide button there has a dotted line that will be written on it "else" thats all

[2013-05-01 17:28] Donia1 commented on #303
@nayera-muhammad verified

[2013-05-01 18:58] yasmin-eltahan commented on #241
@mayBadr  I verified the senario

[2013-05-01 18:58] yasmin-eltahan commented on #164
@mayBadr  I verified this senario

[2013-05-01 18:59] yasmin-eltahan commented on #162
@mayBadr  I verified the senario

[2013-05-01 19:39] nayera-muhammad commented on #303
@Donia1  i have adjusted the umls

[2013-05-01 20:32] Donia1 commented on #303
@nayera-muhammad verified

[2013-05-01 21:21] Riham-Gamal commented on #238
@mariam-ismail
scenario verfied

[2013-05-01 21:29] nayera-muhammad commented on #303
@mayBadr please verify my scenario

[2013-05-01 22:05] mariam-ismail commented on #238
@samaakram please review

[2013-05-01 22:09] samaakram commented on #238
@mariam-ismail doc & code verified

[2013-05-01 22:38] mayBadr commented on #303
scenario verified!

[2013-05-01 23:05] mariam-ismail commented on #172
@sarahahmed please review my tests in post_controller_spec.rb

[2013-05-01 23:06] mariam-ismail commented on #173
@sarahahmed please review my tests in post_controller_spec.rb

[2013-05-01 23:06] mariam-ismail commented on #174
@sarahahmed please review my tests in post_controller_spec.rb

[2013-05-01 23:34] sarahahmed commented on #172
@mariam-ismail tests verified

[2013-05-01 23:36] sarahahmed commented on #173
@mariam-ismail tests verified

[2013-05-01 23:37] sarahahmed commented on #174
@mariam-ismail tests verified

[2013-05-02 08:09] Donia1 opened #318 "as a community i have several projects"
@yasmin-eltahan @mayBadr @nayera-muhammad

[2013-05-02 14:22] salmaelruby commented on #266
@mariam-ismail please review my tests
@Riham-Gamal  please review my scenario c2_salma_sprint2_unassign
@samaakram  please review my code and doc

[2013-05-02 14:27] salmaelruby commented on #268
@mariam-ismail please review my tests
@Riham-Gamal  please review my scenario c2_salma_sprint2_unassign
@samaakram  please review my code and doc

[2013-05-02 14:43] samaakram commented on #266
@salmaelruby code and doc verified

[2013-05-02 14:46] samaakram commented on #268
@salmaelruby  doc and code verified

[2013-05-02 15:03] Riham-Gamal opened #320 "As a project admin I can add google map"

[2013-05-02 16:09] Riham-Gamal opened #322 "As a project admin I can add google map"

[2013-05-02 16:26] samaakram commented on #320
@code verified and plz dont forget to choose milestone two for the issue

[2013-05-02 17:26] Donia1 commented on #200
verified umls :D

[2013-05-02 19:42] Riham-Gamal commented on #172
scenario verified

[2013-05-02 19:42] Riham-Gamal commented on #173
scenario verified

[2013-05-02 19:55] Riham-Gamal commented on #240
scenario verified

[2013-05-02 20:04] samaakram commented on #172
@mariam-ismail doc and code verified

[2013-05-02 20:07] samaakram commented on #161
@Riham-Gamal plz review

[2013-05-02 20:08] samaakram commented on #207
@Riham-Gamal plz review
@tokaabdelgabar plz review

[2013-05-02 20:08] samaakram commented on #208
@Riham-Gamal plz review
@tokaabdelgabar plz review

[2013-05-02 20:08] Riham-Gamal commented on #161
scenario verified

[2013-05-02 20:10] Riham-Gamal commented on #207
scenario verified

[2013-05-02 20:11] Riham-Gamal commented on #208
scenario verified

[2013-05-02 20:25] tokaabdelgabar commented on #290
@samaakram please review code and documentation
@yasmin-eltahan please review senario

[2013-05-02 20:43] Donia1 commented on #226
@yasmin-eltahan @mayBadr can you guys please check my work thank u :D

[2013-05-02 20:54] samaakram commented on #290
@tokaabdelgabar  doc and code verified

[2013-05-02 20:59] tokaabdelgabar commented on #161
code and documentation verified

[2013-05-02 20:59] tokaabdelgabar commented on #207
code and documentation verified

[2013-05-02 21:00] tokaabdelgabar commented on #208
code and documentation verified

[2013-05-02 21:21] yasmin-eltahan commented on #226
@Donia1  I verified senario

[2013-05-02 21:48] Riham-Gamal commented on #172
@mariam-ismail scenario verified

[2013-05-02 22:10] samaakram commented on #173
@mariam-ismail code and doc verified

[2013-05-02 22:13] samaakram commented on #174
@mariam-ismail code and doc verified :dancer: :dancer: :dancer:

[2013-05-02 22:16] tokaabdelgabar commented on #290
@sarahahmed  test of budget_item_users done please review

[2013-05-02 22:55] yasmin-eltahan commented on #290
@tokaabdelgabar  , add params to the assign method

[2013-05-02 23:26] tokaabdelgabar commented on #290
@yasmin-eltahan  check senario again
@sarahahmed  check test again

[2013-05-03 00:30] yasmin-eltahan commented on #290
@tokaabdelgabar tests are correct

[2013-05-03 01:05] Riham-Gamal commented on #286
@yasmin-eltahan
scenario verified

[2013-05-03 03:32] yasmin-eltahan commented on #322
@Riham-Gamal  I verified senario

[2013-05-03 03:33] yasmin-eltahan commented on #266
@salmaelruby  Verified senario

[2013-05-03 03:33] yasmin-eltahan commented on #268
@salmaelruby  I verified senario

[2013-05-03 03:36] salmaelruby commented on #268
@Donia1  please review my umls

[2013-05-03 10:45] mariam-ismail commented on #173
@salmaelruby  please review my UMLS c2_mariam_UMLS

[2013-05-03 10:51] mariam-ismail commented on #174
@salmaelruby please review my umls c2_mariam_UMLS

[2013-05-03 10:51] mariam-ismail commented on #172
@salmaelruby please review my umls c2_mariam_UMLS

[2013-05-03 10:52] mariam-ismail commented on #175
@salmaelruby please review my umls c2_mariam_UMLS

[2013-05-03 11:01] salmaelruby commented on #174
@mariam-ismail  verified umls

[2013-05-03 11:02] salmaelruby commented on #173
@mariam-ismail  umls verified

[2013-05-03 11:02] salmaelruby commented on #172
@mariam-ismail  umls verified

[2013-05-03 13:10] tokaabdelgabar commented on #290
@Donia1 please verify uml

[2013-05-03 13:12] Donia1 commented on #290
@tokaabdelgabar verified

[2013-05-03 13:20] mariam-ismail opened #333 "Please update the class diagram"
in Posts class updatePost(), destroyPost(), createPost()
@mayBadr

[2013-05-03 13:30] #226 closed, assigned to Donia1

[2013-05-03 14:08] Donia1 commented on #241
verified

[2013-05-03 14:09] Donia1 commented on #240
code verified

[2013-05-03 15:07] mariam-ismail commented on #238
@salmaelruby please review my UMLS

[2013-05-03 16:31] salmaelruby commented on #238
@mariam-ismail  umls verified

[2013-05-03 16:32] salmaelruby commented on #175
@mariam-ismail  verified umls

[2013-05-03 18:13] salmaelruby commented on #284
@Riham-Gamal  reviewed umls

[2013-05-03 18:14] salmaelruby commented on #283
@Riham-Gamal  umls verified

[2013-05-03 18:16] salmaelruby commented on #273
@Riham-Gamal  umls verified

[2013-05-03 19:04] #165 closed, assigned to mayBadr

[2013-05-03 19:04] Donia1 commented on #268
uml verified

[2013-05-03 19:05] #268 closed, assigned to salmaelruby

[2013-05-03 19:06] Donia1 commented on #266
umls verified

[2013-05-03 19:06] #266 closed, assigned to salmaelruby

[2013-05-03 19:07] #166 closed, assigned to mayBadr

[2013-05-03 19:09] #303 closed, assigned to nayera-muhammad

[2013-05-03 19:09] #290 closed, assigned to tokaabdelgabar

[2013-05-03 19:09] #284 closed, assigned to Riham-Gamal

[2013-05-03 19:09] #273 closed, assigned to Riham-Gamal

[2013-05-03 19:11] #257 closed, assigned to nayera-muhammad

[2013-05-03 19:11] #241 closed, assigned to mayBadr

[2013-05-03 19:11] #240 closed, assigned to mayBadr

[2013-05-03 19:11] #238 closed, assigned to mariam-ismail

[2013-05-03 19:12] #204 closed, assigned to nobody

[2013-05-03 19:12] #200 closed, assigned to salmaelruby

[2013-05-03 19:12] #184 closed, assigned to tokaabdelgabar

[2013-05-03 19:12] #179 closed, assigned to nayera-muhammad

[2013-05-03 19:12] #178 closed, assigned to nayera-muhammad

[2013-05-03 19:12] #164 closed, assigned to mayBadr

[2013-05-03 19:13] #162 closed, assigned to mayBadr

[2013-05-03 19:14] #195 closed, assigned to Donia1

[2013-05-03 19:15] #114 closed, assigned to mariam-ismail

[2013-05-03 19:15] #115 closed, assigned to mariam-ismail

[2013-05-03 19:15] #144 closed, assigned to salmaelruby

[2013-05-03 19:15] #145 closed, assigned to salmaelruby

[2013-05-03 19:15] #146 closed, assigned to salmaelruby

[2013-05-03 19:15] #172 closed, assigned to mariam-ismail

[2013-05-03 19:15] #173 closed, assigned to mariam-ismail

[2013-05-03 19:15] #174 closed, assigned to mariam-ismail

[2013-05-03 19:15] #175 closed, assigned to mariam-ismail

[2013-05-03 19:18] #84 closed, assigned to nobody

[2013-05-03 19:18] #154 closed, assigned to tokaabdelgabar

[2013-05-03 19:18] #177 closed, assigned to nayera-muhammad

[2013-05-03 19:18] #283 closed, assigned to Riham-Gamal

[2013-05-03 19:20] #61 closed, assigned to nobody

[2013-05-03 19:20] #70 closed, assigned to nobody

[2013-05-03 19:20] #72 closed, assigned to nobody

[2013-05-03 19:20] #75 closed, assigned to nobody

[2013-05-03 19:20] #76 closed, assigned to nobody

[2013-05-03 19:20] #92 closed, assigned to nobody

[2013-05-03 19:20] #223 closed, assigned to yasmin-eltahan

[2013-05-03 19:20] #276 closed, assigned to nobody

[2013-05-03 19:21] #318 closed, assigned to Donia1

[2013-05-03 19:22] #141 closed, assigned to sarahahmed

[2013-05-03 19:22] #143 closed, assigned to sarahahmed

[2013-05-03 19:25] #159 closed, assigned to Donia1

[2013-05-03 19:26] #136 closed, assigned to nobody

[2013-05-03 19:26] #65 closed, assigned to nobody

[2013-05-03 19:26] #69 closed, assigned to nobody

[2013-05-03 19:27] #183 closed, assigned to nobody

[2013-05-03 19:29] samaakram commented on #322
@Riham-Gamal verified code and doc

[2013-05-03 19:33] #291 closed, assigned to tokaabdelgabar

[2013-05-03 19:38] #150 closed, assigned to nobody

[2013-05-03 19:38] #151 closed, assigned to nobody

[2013-05-03 19:38] #152 closed, assigned to nobody

[2013-05-03 19:39] #133 closed, assigned to nobody

[2013-05-03 19:39] #134 closed, assigned to nobody

[2013-05-03 19:39] #135 closed, assigned to nobody

[2013-05-03 19:39] #137 closed, assigned to nobody

[2013-05-03 19:39] #138 closed, assigned to nobody

[2013-05-03 19:40] #83 closed, assigned to nobody

[2013-05-03 19:40] #85 closed, assigned to nobody

[2013-05-03 19:40] #139 closed, assigned to nobody

[2013-05-03 19:51] #297 closed, assigned to Riham-Gamal

[2013-05-03 19:53] #252 closed, assigned to nayera-muhammad

[2013-05-03 19:53] #279 closed, assigned to yasmin-eltahan

[2013-05-03 20:02] #149 closed, assigned to nobody

[2013-05-03 20:29] #322 closed, assigned to Riham-Gamal

[2013-05-03 20:47] samaakram commented on #236
@tokaabdelgabar plz review code and doc

[2013-05-03 20:47] samaakram commented on #236
@Riham-Gamal scenario review plz

[2013-05-03 21:08] tokaabdelgabar commented on #286
@yasmin-eltahan  verified documentation

[2013-05-03 22:00] #60 closed, assigned to nobody

[2013-05-03 22:00] #140 closed, assigned to tokaabdelgabar

[2013-05-03 22:00] #167 closed, assigned to nobody

[2013-05-03 22:00] #176 closed, assigned to nobody

[2013-05-03 22:00] #180 closed, assigned to nobody

[2013-05-03 22:00] #189 closed, assigned to nobody

[2013-05-03 22:00] #306 closed, assigned to Riham-Gamal

[2013-05-03 22:00] #320 closed, assigned to Riham-Gamal

[2013-05-03 22:00] #333 closed, assigned to mariam-ismail

[2013-05-03 22:00] #282 closed, assigned to sarahahmed

[2013-05-03 22:01] #277 closed, assigned to yasmin-eltahan

[2013-05-03 22:01] #142 closed, assigned to nobody

[2013-05-03 22:01] #286 closed, assigned to yasmin-eltahan

[2013-05-04 22:09] #302 closed, assigned to samaakram